/* =========================================================== */
/* UI 样式                                                      */
/* =========================================================== */
.preview-toolbar {
  display: flex;
  flex-direction: row;
  min-height: 60px;
  padding-left: 20px;
  align-items: center;
  border-bottom: #e4e4e4 1px solid;
  flex-wrap: wrap;
  background-color: var(--background-primary);
}

.copy-button {
  width: 60px;
}

.refresh-button {
  width: 60px;
  margin: 0px 20px;
}

.style-label {
  margin-right: 10px;
}

.style-select {
  margin-right: 20px;
  width: 140px;
}

.note-preview {
  min-height: 100%;
  width: 100%;
  background-color: #fff;
}
