/* =========================================================== */
/* UI 样式                                                      */
/* =========================================================== */
.preview-toolbar {
  display: flex;
  flex-direction: row;
  min-height: 60px;
  padding-left: 20px;
  align-items: center;
  border-bottom: #e4e4e4 1px solid;
  flex-wrap: wrap;
}

.copy-button {
  width: 80px;
}

.refresh-button {
  width: 80px;
  margin: 0px 20px;
}

.style-label {
  margin-right: 10px;
}

.style-select {
  flex: 1;
  margin-right: 20px;
}

.note-preview {
  min-height: 100%;
  width: 100%;
  background-color: #fff;
}

/* =========================================================== */
/* 代码高亮样式                                                  */
/* =========================================================== */
/*
XCode style (c) Angel Garcia <angelgarcia.mail@gmail.com>
*/
.hljs {
  background: rgb(250, 250, 250);
  color: black
}

/* Gray DOCTYPE selectors like WebKit */
.xml .hljs-meta {
  color: #c0c0c0
}

.hljs-comment,
.hljs-quote {
  color: #007400
}

.hljs-tag,
.hljs-attribute,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-name {
  color: #aa0d91
}

.hljs-variable,
.hljs-template-variable {
  color: #3F6E74
}

.hljs-code,
.hljs-string,
.hljs-meta .hljs-string {
  color: #c41a16
}

.hljs-regexp,
.hljs-link {
  color: #0E0EFF
}

.hljs-title,
.hljs-symbol,
.hljs-bullet,
.hljs-number {
  color: #1c00cf
}

.hljs-section,
.hljs-meta {
  color: #643820
}

.hljs-title.class_,
.hljs-class .hljs-title,
.hljs-type,
.hljs-built_in,
.hljs-params {
  color: #5c2699
}

.hljs-attr {
  color: #836C28
}

.hljs-subst {
  color: #000
}

.hljs-formula {
  background-color: #eee;
  font-style: italic
}

.hljs-addition {
  background-color: #baeeba
}

.hljs-deletion {
  background-color: #ffc8bd
}

.hljs-selector-id,
.hljs-selector-class {
  color: #9b703f
}

.hljs-doctag,
.hljs-strong {
  font-weight: bold
}

.hljs-emphasis {
  font-style: italic
}

/* =========================================================== */
/* Obsidian的默认样式                                            */
/* =========================================================== */
.obsidian-light {
  margin: 0 auto;
  padding: 20px 20px;
  user-select: text;
  -webkit-user-select: text;
  color: #222222;
  font-family: "Inter", Inter var, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.obsidian-light:last-child {
  margin-bottom: 0;
}

.obsidian-light .fancybox-img {
  border: none;
}

.obsidian-light .fancybox-img:hover {
  opacity: none;
  border: none;
}

/*
=================================
 Heading 
==================================
*/
.obsidian-light h1 {
  color: #222;
  font-weight: 700;
  font-size: 1.802em;
  line-height: 1.2;
  margin-block-start: 1em;
  margin-block-end: 0;
}

.obsidian-light h2 {
  color: inherit;
  font-weight: 600;
  font-size: 1.602em;
  line-height: 1.2;
  margin-block-start: 1em;
  margin-block-end: 0;
}

.obsidian-light h3 {
  color: inherit;
  font-weight: 600;
  font-size: 1.424em;
  line-height: 1.3;
  margin-block-start: 1em;
  margin-block-end: 0;
}

.obsidian-light h4 {
  color: inherit;
  font-weight: 600;
  font-size: 1.266em;
  line-height: 1.4;
  margin-block-start: 1em;
  margin-block-end: 0;
}

.obsidian-light h5 {
  color: inherit;
  margin-block-start: 1em;
  margin-block-end: 0;
}

.obsidian-light h6 {
  color: inherit;
  margin-block-start: 1em;
  margin-block-end: 0;
}

/*
=================================
Horizontal Rules
==================================
*/
.obsidian-light hr {
  border-color: #e0e0e0;
  margin-top: 3em;
  margin-bottom: 3em;
}

/*
=================================
Paragraphs
==================================
*/
.obsidian-light p {
  line-height: 2em;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

/*
=================================
Emphasis
==================================
*/
.obsidian-light strong {
  color: #222222;
  font-weight: 600;
}

.obsidian-light em {
  color: inherit;
  font-style: italic;
}

.obsidian-light s {
  color: inherit;
}

/*
=================================
Blockquotes
==================================
*/
.obsidian-light blockquote {
  font-size: 1rem;
  display: block;
  margin: 2em 0;
  padding: 0em 0.8em 0em 0.8em;
  position: relative;
  color: inherit;
  border-left: 0.15rem solid #7852ee;
}

.obsidian-light blockquote blockquote{
  margin: 0 0;
}

.obsidian-light blockquote p {
  margin: 0;
}

.obsidian-light blockquote footer strong {
  margin-right: 0.5em;
}

/*
=================================
List
==================================
*/
.obsidian-light ul {
  margin: 0;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.obsidian-light ul>li {
  /* position: relative; */
  /* padding-left: 1.75rem; */
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.obsidian-light ul>li::marker {
  color: #ababab;
  /* font-size: 1.5em; */
}

.obsidian-light li>p {
  margin: 0;
}

.obsidian-light ol {
  margin: 0;
  padding: 0;
  margin-top: 1.25em;
  margin-bottom: 0em;
  list-style-type: decimal;
}

.obsidian-light ol>li {
  position: relative;
  padding-left: 0.1em;
  margin-left: 2em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

/*
=================================
Link
==================================
*/
.obsidian-light a {
  color: #7852ee;
  text-decoration: none;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 1px solid #7852ee;
  transition: border 0.3s ease-in-out;
}

.obsidian-light a:hover {
  color: #7952eebb;
  border-bottom: 1px solid #7952eebb;
}

/*
=================================
Table
==================================
*/
.obsidian-light table {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.875em;
  line-height: 1.7142857;
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}

.obsidian-light table thead {
  color: #000;
  font-weight: 600;
  border: #e0e0e0 1px solid;
}

.obsidian-light table thead th {
  vertical-align: bottom;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
  border: #e0e0e0 1px solid;
}

.obsidian-light table thead th:first-child {
  padding-left: 0.5em;
}

.obsidian-light table thead th:last-child {
  padding-right: 0.5em;
}

.obsidian-light table tbody tr {
  border-style: solid;
  border: #e0e0e0 1px solid;
}

.obsidian-light table tbody tr:last-child {
  border-bottom-width: 0;
}

.obsidian-light table tbody td {
  vertical-align: top;
  padding-top: 0.5714286em;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
  border: #e0e0e0 1px solid;
}

.obsidian-light table tbody td:first-child {
  padding-left: 0;
}

.obsidian-light table tbody td:last-child {
  padding-right: 0;
}

/*
=================================
Images
==================================
*/
.obsidian-light img {
  margin-top: 2em;
  margin-bottom: 2em;
}

/*
=================================
Code
==================================
*/
.obsidian-light pre code {
  padding: 0;
}

.obsidian-light section {
  display: flex;
  overflow: auto;
  background-color: rgb(250, 250, 250);
  border: rgb(240, 240, 240) 1px solid;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.obsidian-light section ul {
  counter-reset: line;
  margin: 0;
  padding: 14px;
  white-space: normal;
  width: fit-content;
}

.obsidian-light section ul>li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  line-height: 26px;
  font-size: 14px;
  padding: 0;
  list-style-type: none;
  color: rgba(0, 0, 0, 0.25);
}

.obsidian-light pre {
  margin: 0;
  padding: 14px 14px 14px 0;
}

.obsidian-light code {
  font-family: Consolas, ui-monospace, SFMono-Regular, Menlo, Monaco, "Liberation Mono", "Courier New", monospace;
  color: #5c5c5c;
  background-color: #fafafa;
  font-size: 0.875em;
  padding: 0.2em 0;
  line-height: 2.0em;
  vertical-align: baseline;
}

/* =========================================================== */
/* 笔记样式 https://github.com/xbmlz/hexo-theme-maple            */
/* =========================================================== */
.maple {
  margin: 0 auto;
  padding: 20px 20px;
  user-select: text;
  -webkit-user-select: text;
  color: #555;
  font-family: "Inter", Inter var, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.maple:last-child {
  margin-bottom: 0;
}

.maple .fancybox-img {
  border: none;
}

.maple .fancybox-img:hover {
  opacity: none;
  border: none;
}

/*
=================================
 Heading 
==================================
*/
.maple h1 {
  color: #222;
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}

.maple h2 {
  color: inherit;
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}

.maple h3 {
  color: inherit;
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}

.maple h4 {
  color: inherit;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

/*
=================================
Horizontal Rules
==================================
*/
.maple hr {
  border-color: rgba(125, 125, 125, 0.3);
  margin-top: 3em;
  margin-bottom: 3em;
}

/*
=================================
Paragraphs
==================================
*/
.maple p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

/*
=================================
Emphasis
==================================
*/
.maple strong {
  color: #222;
  font-weight: 600;
}

.maple em {
  color: inherit;
}

.maple s {
  color: inherit;
}

/*
=================================
Blockquotes
==================================
*/
.maple blockquote {
  font-size: 1rem;
  display: block;
  margin: 1em 0;
  padding: 1em 1.2em 1em 1.2em;
  position: relative;
  color: inherit;
  border-left: 0.25rem solid rgba(125, 125, 125, 0.302);
}

.maple blockquote p {
  margin: 0;
}

.maple blockquote footer strong {
  margin-right: 0.5em;
}

/*
=================================
List
==================================
*/
.maple ul {
  margin: 0;
  /* padding: 0; */
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.maple ul>li {
  position: relative;
  /* padding-left: 1.75rem; */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.maple ul>li::marker {
  color: #555;
  /* font-size: 1.5em; */
}

.maple ol {
  margin: 0;
  padding: 0;
  margin-top: 1.25em;
  margin-bottom: 0em;
  list-style-type: decimal;
}

.maple ol>li {
  position: relative;
  padding-left: 0.8em;
  margin-left: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/*
=================================
Link
==================================
*/
.maple a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 1px solid rgba(125, 125, 125, 0.3);
  transition: border 0.3s ease-in-out;
}

.maple a:hover {
  border-bottom: 1px solid #555;
}

/*
=================================
Table
==================================
*/
.maple table {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.875em;
  line-height: 1.7142857;
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}

.maple table thead {
  color: #000;
  font-weight: 600;
  border-bottom-width: 1px;
  border-bottom-color: #d1d5db;
}

.maple table thead th {
  vertical-align: bottom;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
}

.maple table thead th:first-child {
  padding-left: 0;
}

.maple table thead th:last-child {
  padding-right: 0;
}

.maple table tbody tr {
  border-bottom-width: 1px;
  border-bottom-color: #e5e7eb;
}

.maple table tbody tr:last-child {
  border-bottom-width: 0;
}

.maple table tbody td {
  vertical-align: top;
  padding-top: 0.5714286em;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
}

.maple table tbody td:first-child {
  padding-left: 0;
}

.maple table tbody td:last-child {
  padding-right: 0;
}

/*
=================================
Images
==================================
*/
.maple img {
  margin-top: 2em;
  margin-bottom: 2em;
}

/*
=================================
Code
==================================
*/
.maple pre code {
  padding: 0;
}

.maple section {
  display: flex;
  overflow: auto;
  background-color: rgb(250, 250, 250);
  border: rgb(240, 240, 240) 1px solid;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.maple section ul {
  counter-reset: line;
  margin: 0;
  padding: 14px;
  white-space: normal;
  width: fit-content;
}

.maple section ul>li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  line-height: 26px;
  font-size: 14px;
  padding: 0;
  list-style-type: none;
  color: rgba(0, 0, 0, 0.25);
}

.maple pre {
  margin: 0;
  padding: 14px 14px 14px 0;
}

.maple code {
  line-height: 26px;
  font-family: Consolas, ui-monospace, SFMono-Regular, Menlo, Monaco, "Liberation Mono", "Courier New", monospace;
  color: #333;
  font-size: 0.875em;
  padding: 0;
}

