@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";

.Root {
	min-height: 100%;
  height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--background-primary);
	box-shadow: 0 2px 10px var(--black-a4);
	position: relative;
}

.List {
	flex-shrink: 0;
	display: flex;
}

.List[data-collapsed="true"] {
	height: 0;
}

.List[data-collapsed="true"] > *:not(.CollapseBtn) {
	display: none;
}

.CollapseBtn {
	all: unset;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: var(--color-base-60);
	padding: 8px;
	transition: color 0.2s;
}

.CollapseBtn:hover {
	color: var(--color-purple);
}

.CollapseBtn[data-floating="true"] {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1000;
	background-color: var(--background-secondary);
	border-radius: 50%;
	box-shadow: 0 2px 8px var(--black-a4);
}

.Trigger {
	all: unset;
	position: relative;
	font-family: inherit;
	height: 36px;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	line-height: 1;
	color: var(--color-base-50);
	user-select: none;
	&:not(:last-child)::after {
		content: "";
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 1px; /* 分割线宽度 */
		height: 50%; /* 分割线高度，例如60% */
		background-color: var(--color-base-30); /* 分割线颜色 */
	}
	&:hover {
		color: var(--color-purple);
	}
	&[data-state="active"] {
		color: var(--color-purple);
		height: 36px;
		box-shadow:
			inset 0 -1px 0 0 var(--color-purple),
			0 1px 0 0 var(--color-purple);
	}
	&[data-state="inactive"] {
		height: 36px;
		box-shadow: none;
	}
}

.Content {
	flex: 1;
  display: flex;
  flex-direction: column;
	padding: 0;
	overflow-y: auto;
	&[data-state="inactive"] {
		display: none;
	}
}
