@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";

.Root {
	min-height: 100%;
  height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--background-primary);
	box-shadow: 0 2px 10px var(--black-a4);
}

.List {
	flex-shrink: 0;
	display: flex;
}

.Trigger {
	all: unset;
	position: relative;
	font-family: inherit;
	height: 36px;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	line-height: 1;
	color: var(--color-base-50);
	user-select: none;
	&:not(:last-child)::after {
		content: "";
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 1px; /* 分割线宽度 */
		height: 50%; /* 分割线高度，例如60% */
		background-color: var(--color-base-30); /* 分割线颜色 */
	}
	&:hover {
		color: var(--color-purple);
	}
	&[data-state="active"] {
		color: var(--color-purple);
		box-shadow:
			inset 0 -1px 0 0 var(--color-purple),
			0 1px 0 0 var(--color-purple);
	}
	&[data-state="inactive"] {
		box-shadow: none;
	}
}

.Content {
  display: flex; /* Retain for internal layout of WechatRoot */
  flex-direction: column; /* Retain for internal layout of WechatRoot */
	padding: 0; /* Let the Wechat component handle its own padding */
	overflow-y: auto;
}

.Text {
	margin-top: 0;
	margin-bottom: 20px;
	color: var(--mauve-11);
	font-size: 15px;
	line-height: 1.5;
}

.Fieldset {
	all: unset;
	margin-bottom: 15px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.Label {
	font-size: 13px;
	line-height: 1;
	margin-bottom: 10px;
	color: var(--violet-12);
	display: block;
	user-select: none;
}

.Input {
	all: unset;
	flex: 1 0 auto;
	border-radius: 4px;
	padding: 0 10px;
	font-size: 15px;
	line-height: 1;
	color: var(--violet-11);
	box-shadow: 0 0 0 1px var(--violet-7);
	height: 35px;
	&:focus {
		box-shadow: 0 0 0 2px var(--violet-8);
	}
}

.Button {
	all: unset;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	padding: 0 15px;
	font-size: 15px;
	line-height: 1;
	font-weight: 500;
	height: 35px;
	&:global(.green) {
		background-color: var(--green-4);
		color: var(--green-11);
		&:hover {
			background-color: var(--green-5);
		}
		&:focus {
			box-shadow: 0 0 0 2px var(--green-7);
		}
	}
}
