.Trigger {
	all: unset;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	padding: 0 15px;
	font-size: 13px;
	line-height: 1;
	height: 30px;
	gap: 5px;
	width: 120px;
	color: var(--color-base-100);
	box-shadow: 0 2px 10px var(--color-base-50);
	/* 添加触摸友好的样式 */
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;
	
	&:hover {
		background-color: var(--color-base-10);
	}
	&[data-placeholder] {
		color: var(--color-base-50);
	}
	&[data-state="closed"] {
		height: 30px;
	}
	&[data-state="open"] {
		height: 30px;
	}
	span {
		white-space: nowrap; /* 不换行 */
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.Icon {
	color: Var(--violet-11);
}

.Content {
	overflow: hidden;
	background-color: var(--color-base-00);
	border-radius: 6px;
	box-shadow:
		0px 10px 38px -10px rgba(22, 23, 24, 0.35),
		0px 10px 20px -15px rgba(22, 23, 24, 0.2);
	/* 确保在父容器中有足够的 z-index */
	z-index: 999999;
	position: relative;
}

.Viewport {
	padding: 5px;
}

.Item {
	font-size: 13px;
	line-height: 1;
	color: var(--color-purple);
	border-radius: 3px;
	display: flex;
	align-items: center;
	height: 25px;
	padding: 0 35px 0 25px;
	position: relative;
	user-select: none;
	/* 添加触摸友好的样式 */
	touch-action: manipulation;
	
	&[data-disabled] {
		color: var(--color-base-10);
		pointer-events: none;
	}
	&[data-highlighted] {
		outline: none;
		background-color: var(--text-selection);
		color: var(--text-accent);
	}
}

.Label {
	padding: 0 25px;
	font-size: 12px;
	line-height: 25px;
	color: var(--text-muted);
}

.Separator {
	height: 1px;
	background-color: var(--color-base-20);
	margin: 5px;
}

.ItemIndicator {
	position: absolute;
	left: 0;
	width: 25px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.ScrollButton {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	background-color: var(--color-base-00);
	color: var(--color-base-70);
	cursor: default;
}