.Content,
.SubContent {
	max-height: 60vh; /* Set max-height to 60% of viewport height */
	overflow-y: auto; /* Enable vertical scrolling */
	background-color: var(--color-base-00);
	border-radius: 6px;
	padding: 5px;
	box-shadow:
		0px 10px 38px -10px rgba(22, 23, 24, 0.35),
		0px 10px 20px -15px rgba(22, 23, 24, 0.2);
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity;
	/* 确保在父容器中有足够的 z-index */
	z-index: 999999;
	position: relative;
	
	&[data-side="top"] {
		animation-name: slideDownAndFade;
	}
	&[data-side="right"] {
		animation-name: slideLeftAndFade;
	}
	&[data-side="bottom"] {
		animation-name: slideUpAndFade;
	}
	&[data-side="left"] {
		animation-name: slideRightAndFade;
	}
}

.Item,
.CheckboxItem,
.RadioItem,
.SubTrigger {
	font-size: 13px;
	line-height: 1;
	color: var(--text-normal);
	border-radius: 3px;
	display: flex;
	align-items: center;
	height: 25px;
	padding: 0 5px;
	position: relative;
	padding-left: 25px;
	user-select: none;
	outline: none;
	&[data-disabled] {
		color: var(--color-base-10);
		pointer-events: none;
	}
	&[data-highlighted] {
		background-color: var(--text-selection);
		color: var(--text-accent);
	}
}

.SubTrigger[data-state="open"]:not([data-highlighted], [data-disabled]) {
	background-color: var(--text-selection);
	color: var(--text-accent);
}

.Label {
	padding-left: 25px;
	font-size: 12px;
	line-height: 25px;
	color: var(--text-muted);
}

.Separator {
	height: 1px;
	background-color: var(--color-base-20);
	margin: 5px;
}

.ItemIndicator {
	position: absolute;
	left: 0;
	width: 25px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.Arrow {
	fill: white;
}

.IconButton {
	all: unset;
	font-family: inherit;
	border-radius: 100%;
	height: 35px;
	width: 35px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--violet-11);
	background-color: var(--color-base-00);
	box-shadow: 0 2px 10px var(--color-base-50);
	user-select: none;
	&:hover {
		background-color: var(--color-base-10);
	}
}

.RightSlot {
	margin-left: auto;
	padding-left: 20px;
	color: var(--color-base-70);
	[data-highlighted] > & {
		color: white;
	}
	[data-disabled] & {
		color: var(--color-base-10);
	}
}

@keyframes slideUpAndFade {
	from {
		opacity: 0;
		transform: translateY(2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideRightAndFade {
	from {
		opacity: 0;
		transform: translateX(-2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideDownAndFade {
	from {
		opacity: 0;
		transform: translateY(-2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideLeftAndFade {
	from {
		opacity: 0;
		transform: translateX(2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}