/* MWeb：增大字体，便于阅读 */
.note-to-mp {
  font-size: 16px;
  min-width: 200px;
  max-width: 760px;
  padding: 1rem;
  color: #333;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  /* 内外边距通常让各个浏览器样式的表现位置不同 */
  /* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
  /* HTML5 媒体文件跟 img 保持一致 */
  /* 要注意表单元素并不继承父级 font 的问题 */
  /* 去掉各Table cell 的边距并让其边重合 */
  /* 去除默认边框 */
  /* 块/段落引用 */
  /* Firefox 以外，元素没有下划线，需添加 */
  /* 添加鼠标问号，进一步确保应用的语义是正确的（要知道，交互他们也有洁癖，如果你不去掉，那得多花点口舌） */
  /* 一致的 del 样式 */
  /* 去掉列表前的标识, li 会继承，大部分网站通常用列表来很多内容，所以应该当去 */
  /* 对齐是排版最重要的因素, 别让什么都居中 */
  /* 统一上标和下标 */
  /* 让链接在 hover 状态下显示下划线 */
  /* 默认不显示下划线，保持页面简洁 */
  /* 专名号：虽然 u 已经重回 html5 Draft，但在所有浏览器中都是可以使用的，
  * 要做到更好，向后兼容的话，添加 class="typo-u" 来显示专名号
  * 关于 <u> 标签：http://www.whatwg.org/specs/web-apps/current-work/multipage/text-level-semantics.html#the-u-element
  * 被放弃的是 4，之前一直搞错 http://www.w3.org/TR/html401/appendix/changes.html#idx-deprecated
  * 一篇关于 <u> 标签的很好文章：http://html5doctor.com/u-element/
  */
  /* 标记，类似于手写的荧光笔的作用 */
  /* 一致化 horizontal rule */
  /* 底部印刷体、版本等标记 */
  /* 可拖动文件添加拖动手势 */
  /* 强制文本换行 */
  /* 提供 serif 版本的字体设置: iOS 下中文自动 fallback 到 sans-serif */
  /* 保证块/段落之间的空白隔行 */
  /* 标题应该更贴紧内容，并与其他块区分，margin 值要相应做优化 */
  /* 在文章中，应该还原 ul 和 ol 的样式 */
  /* 同 ul/ol，在文章中应用 table 基本格式 */
  /* 去除 webkit 中 input 和 textarea 的默认样式  */
  /* 着重号，只能在少量（少于100个字符）且全是全角字符的情况下使用 */
  /* Responsive images */
  /* 代码片断 */
}
.note-to-mp dl,
.note-to-mp dt,
.note-to-mp dd,
.note-to-mp ul,
.note-to-mp ol,
.note-to-mp li,
.note-to-mp h1,
.note-to-mp h2,
.note-to-mp h3,
.note-to-mp h4,
.note-to-mp h5,
.note-to-mp h6,
.note-to-mp pre,
.note-to-mp code,
.note-to-mp form,
.note-to-mp fieldset,
.note-to-mp legend,
.note-to-mp input,
.note-to-mp textarea,
.note-to-mp p,
.note-to-mp blockquote,
.note-to-mp th,
.note-to-mp td,
.note-to-mp hr,
.note-to-mp button,
.note-to-mp article,
.note-to-mp aside,
.note-to-mp details,
.note-to-mp figcaption,
.note-to-mp figure,
.note-to-mp footer,
.note-to-mp header,
.note-to-mp menu,
.note-to-mp nav,
.note-to-mp section {
  margin: 0;
  padding: 0;
}
.note-to-mp article,
.note-to-mp aside,
.note-to-mp details,
.note-to-mp figcaption,
.note-to-mp figure,
.note-to-mp footer,
.note-to-mp header,
.note-to-mp menu,
.note-to-mp nav,
.note-to-mp section {
  display: block;
}
.note-to-mp audio,
.note-to-mp canvas,
.note-to-mp video {
  display: inline-block;
}
.note-to-mp button,
.note-to-mp input,
.note-to-mp select,
.note-to-mp textarea {
  font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}
.note-to-mp table {
  border-collapse: collapse;
  border-spacing: 0;
}
.note-to-mp fieldset,
.note-to-mp img {
  border: 0;
}
.note-to-mp blockquote {
  position: relative;
  color: #999;
  font-weight: 400;
  border-left: 1px solid #1abc9c;
  padding-left: 1em;
  margin: 1em 3em 1em 2em;
}
@media only screen and (max-width: 640px) {
  .note-to-mp blockquote {
    margin: 1em 0;
  }
}
.note-to-mp acronym,
.note-to-mp abbr {
  border-bottom: 1px dotted;
  font-variant: normal;
  text-decoration: none;
}
.note-to-mp abbr {
  cursor: help;
}
.note-to-mp del {
  text-decoration: line-through;
}
.note-to-mp address,
.note-to-mp caption,
.note-to-mp cite,
.note-to-mp code,
.note-to-mp dfn,
.note-to-mp em,
.note-to-mp th,
.note-to-mp var {
  font-style: normal;
  font-weight: 400;
}
.note-to-mp ul,
.note-to-mp ol {
  list-style: none;
}
.note-to-mp caption,
.note-to-mp th {
  text-align: left;
}
.note-to-mp q:before,
.note-to-mp q:after {
  content: "";
}
.note-to-mp sub,
.note-to-mp sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
.note-to-mp :root sub,
.note-to-mp :root sup {
  vertical-align: baseline;
  /* for ie9 and other modern browsers */
}
.note-to-mp sup {
  top: -0.5em;
}
.note-to-mp sub {
  bottom: -0.25em;
}
.note-to-mp a {
  color: #1abc9c;
}
.note-to-mp a:hover {
  text-decoration: underline;
}
.note-to-mp a {
  border-bottom: 1px solid #1abc9c;
}
.note-to-mp a:hover {
  border-bottom-color: #555;
  color: #555;
  text-decoration: none;
}
.note-to-mp ins,
.note-to-mp a {
  text-decoration: none;
}
.note-to-mp u,
.note-to-mp .typo-u {
  text-decoration: underline;
}
.note-to-mp mark {
  background: #fffdd1;
  border-bottom: 1px solid #ffedce;
  padding: 2px;
  /* margin: 0 5px; */
}
.note-to-mp hr {
  border: none;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 0.8em;
  height: 10px;
}
.note-to-mp small,
.note-to-mp .typo-small,
.note-to-mp figcaption {
  font-size: 0.9em;
  color: #888;
}
.note-to-mp strong,
.note-to-mp b {
  font-weight: bold;
  color: #000;
}
.note-to-mp [draggable] {
  cursor: move;
}
.note-to-mp .clearfix:before,
.note-to-mp .clearfix:after {
  content: "";
  display: table;
}
.note-to-mp .clearfix:after {
  clear: both;
}
.note-to-mp .clearfix {
  zoom: 1;
}
.note-to-mp .textwrap,
.note-to-mp .textwrap td,
.note-to-mp .textwrap th {
  word-wrap: break-word;
  word-break: break-all;
}
.note-to-mp .textwrap-table {
  table-layout: fixed;
}
.note-to-mp .serif {
  font-family: Palatino, Optima, Georgia, serif;
}
.note-to-mp p,
.note-to-mp pre,
.note-to-mp ul,
.note-to-mp ol,
.note-to-mp dl,
.note-to-mp form,
.note-to-mp hr,
.note-to-mp table,
.note-to-mp .typo-p,
.note-to-mp .typo-pre,
.note-to-mp .typo-ul,
.note-to-mp .typo-ol,
.note-to-mp .typo-dl,
.note-to-mp .typo-form,
.note-to-mp .typo-hr,
.note-to-mp .typo-table,
.note-to-mp blockquote {
  margin-bottom: 1.2em;
}
.note-to-mp h1,
.note-to-mp h2,
.note-to-mp h3,
.note-to-mp h4,
.note-to-mp h5,
.note-to-mp h6 {
  font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  font-weight: lighter;
  color: #000;
  line-height: 1.35;
}
.note-to-mp h1,
.note-to-mp h2,
.note-to-mp h3,
.note-to-mp h4,
.note-to-mp h5,
.note-to-mp h6,
.note-to-mp .typo-h1,
.note-to-mp .typo-h2,
.note-to-mp .typo-h3,
.note-to-mp .typo-h4,
.note-to-mp .typo-h5,
.note-to-mp .typo-h6 {
  margin-top: 1.2em;
  margin-bottom: 0.6em;
  line-height: 1.35;
}
.note-to-mp h1,
.note-to-mp .typo-h1 {
  font-size: 2em;
}
.note-to-mp h2,
.note-to-mp .typo-h2 {
  font-size: 1.8em;
}
.note-to-mp h3,
.note-to-mp .typo-h3 {
  font-size: 1.6em;
}
.note-to-mp h4,
.note-to-mp .typo-h4 {
  font-size: 1.4em;
}
.note-to-mp h5,
.note-to-mp h6,
.note-to-mp .typo-h5,
.note-to-mp .typo-h6 {
  font-size: 1.2em;
}
.note-to-mp ul,
.note-to-mp .typo-ul {
  margin-left: 1.3em;
  list-style: disc;
}
.note-to-mp ol,
.note-to-mp .typo-ol {
  list-style: decimal;
  margin-left: 1.9em;
}
.note-to-mp li ul,
.note-to-mp li ol,
.note-to-mp .typo-ul ul,
.note-to-mp .typo-ul ol,
.note-to-mp .typo-ol ul,
.note-to-mp .typo-ol ol {
  margin-bottom: 0.8em;
  margin-left: 2em;
}
.note-to-mp li ul,
.note-to-mp .typo-ul ul,
.note-to-mp .typo-ol ul {
  list-style: circle;
}
.note-to-mp table th,
.note-to-mp table td,
.note-to-mp .typo-table th,
.note-to-mp .typo-table td,
.note-to-mp table caption {
  border: 1px solid #ddd;
  padding: 0.5em 1em;
  color: #666;
}
.note-to-mp table th,
.note-to-mp .typo-table th {
  background: #fbfbfb;
}
.note-to-mp table thead th,
.note-to-mp .typo-table thead th {
  background: #f1f1f1;
}
.note-to-mp table caption {
  border-bottom: none;
}
.note-to-mp .typo-input,
.note-to-mp .typo-textarea {
  -webkit-appearance: none;
  border-radius: 0;
}
.note-to-mp .typo-em,
.note-to-mp em,
.note-to-mp legend,
.note-to-mp caption {
  color: #000;
  font-weight: inherit;
}
.note-to-mp .typo-em {
  position: relative;
}
.note-to-mp .typo-em:after {
  position: absolute;
  top: 0.65em;
  left: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  content: "・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・";
}
.note-to-mp img {
  max-width: 100%;
}
.note-to-mp .footnotes hr {
  margin-top: 4em;
  margin-bottom: 0.5em;
}
.note-to-mp pre,
.note-to-mp code,
.note-to-mp pre tt {
  font-family: Courier, "Courier New", monospace;
}
.note-to-mp pre {
  padding: 1em 1.5em;
  display: block;
  -webkit-overflow-scrolling: touch;
}
.note-to-mp .code-section {
  display: flex;
  background: #f8f8f8;
  border: 1px solid #ddd;
}
.note-to-mp .code-section pre {
  margin: 0;
  display: block;
  padding: 1em;
  overflow-x: auto;
}
.note-to-mp .code-section pre code {
  border: none;
  background: #f8f8f8;
  font-size: 1em;
  line-height: 1.8em;
  padding: 0 !important;
  margin: 0 !important;
  text-wrap: nowrap;
}
.note-to-mp .code-section ul {
  flex-shrink: 0;
  counter-reset: line;
  margin: 0;
  padding: 1em 0 1em 1em;
  white-space: normal;
  width: fit-content;
}
.note-to-mp .code-section ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  line-height: 1.8em;
  font-size: 1em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 0;
  list-style-type: none;
  text-wrap: nowrap;
}
.note-to-mp .code-section ul > li::marker {
  content: none;
}