/*
 * PrismJS default theme
 * 这个文件只应该包含变量
 */
/*
 * Default bear theme，适用于 core/mweb-bear.scss。
 * 所有 bear 主题，只需 import 这个文件，然后修改配色方案即可。
 */
/* font */
/* container */
/*  spacing */
/* color */
/* other */
/**
 * 在 bear 的主题中，某些变量的取值和其他变量是绑定的。
 * 统一写在这里，这个文件应该在变量文件的最后被引入。
 */
/**
 * Bear 的默认样式表。通过调整各个颜色变量的取值，就可以得到不同的 bear 主题。
 * Bear 的配色方案位于 src/themes/bear-palettes 目录下。
 */
.mweb-lighthouse {
  font-family: AvenirNext-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  color: rgb(253, 250, 224);
  background-color: rgb(24, 24, 30);
  line-height: 1.6em;
  -webkit-text-size-adjust: 100%;
  margin: 0px 0px;
  padding: 1.6em 3.2em;
  /* 代码块 */
}
.mweb-lighthouse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.mweb-lighthouse > *:first-child {
  margin-top: 0 !important;
}
.mweb-lighthouse > *:last-child {
  margin-top: 0 !important;
}
.mweb-lighthouse p, .mweb-lighthouse pre, .mweb-lighthouse dl, .mweb-lighthouse form, .mweb-lighthouse details, .mweb-lighthouse dl, .mweb-lighthouse blockquote, .mweb-lighthouse table, .mweb-lighthouse xmp, .mweb-lighthouse plaintext, .mweb-lighthouse listing, .mweb-lighthouse figure {
  margin: 0.75em 0 0.45em;
}
.mweb-lighthouse hr {
  margin: 0.75em auto;
}
.mweb-lighthouse h1, .mweb-lighthouse h2, .mweb-lighthouse h3, .mweb-lighthouse h4, .mweb-lighthouse h5, .mweb-lighthouse h6 {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
  font-family: AvenirNext-Medium;
  font-weight: 600;
  line-height: 1.5em;
  color: rgb(251, 239, 137);
}
.mweb-lighthouse h1 {
  font-size: 1.5em;
}
.mweb-lighthouse h2 {
  font-size: 1.3em;
}
.mweb-lighthouse h3 {
  font-size: 1.1em;
}
.mweb-lighthouse h4 {
  font-size: 1em;
}
.mweb-lighthouse h5 {
  font-size: 1em;
}
.mweb-lighthouse h6 {
  font-size: 1em;
}
.mweb-lighthouse hr {
  height: 1px;
  border: 0;
  background-color: rgb(100, 176, 119);
  border-style: inset;
  border-width: 1px;
}
.mweb-lighthouse p {
  margin-left: 0;
  margin-right: 0;
}
.mweb-lighthouse pre, .mweb-lighthouse pre[class*=language-] {
  padding: 0;
  border: 0;
}
.mweb-lighthouse blockquote {
  display: block;
  padding-left: 0.8em;
  border-left: 0.2em solid rgb(209, 95, 38);
  color: rgb(253, 250, 224);
}
.mweb-lighthouse blockquote > :first-child {
  margin-top: 0;
}
.mweb-lighthouse blockquote > :last-child {
  margin-bottom: 0;
}
.mweb-lighthouse li {
  word-wrap: break-all;
}
.mweb-lighthouse ul {
  margin-left: 1.3em;
  padding: 0;
}
.mweb-lighthouse li::marker {
  color: rgb(209, 95, 38);
}
.mweb-lighthouse li > p {
  margin: 0;
}
.mweb-lighthouse ol {
  margin-left: 1.3em;
  padding: 0;
  list-style-type: decimal;
}
.mweb-lighthouse .task-list-item {
  list-style-type: none;
  text-indent: -1.5em;
}
.mweb-lighthouse .task-list-item:before {
  content: "";
  display: static;
  margin-right: 0px;
}
.mweb-lighthouse .task-list-item > input[type=checkbox] {
  text-indent: -1.7em;
}
.mweb-lighthouse img {
  max-width: 100%;
  height: auto;
}
.mweb-lighthouse u {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(209, 95, 38) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 1em;
}
.mweb-lighthouse a {
  color: rgb(123, 206, 171);
  text-decoration: none;
}
.mweb-lighthouse a:hover, .mweb-lighthouse a:focus, .mweb-lighthouse a:active {
  text-decoration: underline;
}
.mweb-lighthouse a img {
  border: none;
}
.mweb-lighthouse b, .mweb-lighthouse strong {
  font-weight: bold;
}
.mweb-lighthouse i, .mweb-lighthouse cite, .mweb-lighthouse em, .mweb-lighthouse var, .mweb-lighthouse address, .mweb-lighthouse dfn {
  font-style: italic;
}
.mweb-lighthouse del, .mweb-lighthouse s {
  color: rgb(204, 204, 204);
}
.mweb-lighthouse pre, .mweb-lighthouse xmp, .mweb-lighthouse plaintext, .mweb-lighthouse listing, .mweb-lighthouse code, .mweb-lighthouse kbd, .mweb-lighthouse tt, .mweb-lighthouse samp {
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.mweb-lighthouse mark {
  color: inherit;
  display: inline;
  padding: 0.2em 0.5em;
  background-color: rgb(21, 109, 104);
}
.mweb-lighthouse figcaption {
  text-align: center;
}
.mweb-lighthouse table {
  color: rgb(204, 203, 204);
  border-collapse: collapse;
  background-color: rgb(27, 26, 34);
  border-spacing: 2px;
  font-size: 1em;
  border: 1px;
  border-spacing: 0;
}
.mweb-lighthouse th, .mweb-lighthouse td {
  padding: 0.7em 1em;
  font-size: 0.9em;
  border: 1px solid rgb(100, 176, 119);
}
.mweb-lighthouse caption, .mweb-lighthouse th, .mweb-lighthouse td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.mweb-lighthouse div[id^=mweb-chart-ele] svg {
  background-color: white;
}
.mweb-lighthouse .footnotes > ol li {
  text-indent: 0;
}
.mweb-lighthouse .footnotes > ol li::before {
  float: left;
}
.mweb-lighthouse .footnotes hr {
  margin-top: 4em;
  margin-bottom: 0.5em;
}
.mweb-lighthouse code {
  display: inline;
  color: rgb(204, 203, 204);
}
.mweb-lighthouse pre code {
  display: block;
  padding: 0.9em;
  font-size: 0.9em;
  line-height: 1.6em;
  overflow-x: auto;
  text-wrap: nowrap;
}
.mweb-lighthouse .code-section {
  display: flex;
  overflow: auto;
  border: solid 1px rgb(100, 176, 119);
  background-color: rgb(27, 26, 34);
}
.mweb-lighthouse section pre {
  margin: 0;
}
.mweb-lighthouse section ul {
  counter-reset: line;
  margin: 0;
  padding: 0.9em 0 0.9em 0.9em;
  white-space: normal;
  width: fit-content;
}
.mweb-lighthouse section ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  line-height: 1.6em;
  font-size: 0.9em;
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 0;
  list-style-type: none;
  color: rgb(253, 250, 224);
}
.mweb-lighthouse section ul > li::marker {
  content: none;
}