/*
 * PrismJS default theme
 * 这个文件只应该包含变量
 */
/*
 * Default bear theme，适用于 core/mweb-bear.scss。
 * 所有 bear 主题，只需 import 这个文件，然后修改配色方案即可。
 */
/* font */
/* container */
/*  spacing */
/* color */
/* other */
/**
 * 在 bear 的主题中，某些变量的取值和其他变量是绑定的。
 * 统一写在这里，这个文件应该在变量文件的最后被引入。
 */
/**
 * Bear 的默认样式表。通过调整各个颜色变量的取值，就可以得到不同的 bear 主题。
 * Bear 的配色方案位于 src/themes/bear-palettes 目录下。
 */
.mweb-gotham {
  font-family: AvenirNext-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  color: rgb(106, 169, 185);
  background-color: rgb(17, 21, 28);
  line-height: 1.6em;
  -webkit-text-size-adjust: 100%;
  margin: 0px 0px;
  padding: 1em 1em;
  /* 代码块 */
}
.mweb-gotham * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.mweb-gotham > *:first-child {
  margin-top: 0 !important;
}
.mweb-gotham > *:last-child {
  margin-top: 0 !important;
}
.mweb-gotham p,
.mweb-gotham pre,
.mweb-gotham dl,
.mweb-gotham form,
.mweb-gotham details,
.mweb-gotham dl,
.mweb-gotham blockquote,
.mweb-gotham table,
.mweb-gotham xmp,
.mweb-gotham plaintext,
.mweb-gotham listing,
.mweb-gotham figure {
  margin: 0.75em 0 0.45em;
}
.mweb-gotham hr {
  margin: 0.75em auto;
}
.mweb-gotham h1,
.mweb-gotham h2,
.mweb-gotham h3,
.mweb-gotham h4,
.mweb-gotham h5,
.mweb-gotham h6 {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
  font-family: AvenirNext-Medium;
  font-weight: 600;
  line-height: 1.5em;
  color: rgb(46, 184, 140);
}
.mweb-gotham h1 {
  font-size: 1.5em;
}
.mweb-gotham h2 {
  font-size: 1.3em;
}
.mweb-gotham h3 {
  font-size: 1.1em;
}
.mweb-gotham h4 {
  font-size: 1em;
}
.mweb-gotham h5 {
  font-size: 1em;
}
.mweb-gotham h6 {
  font-size: 1em;
}
.mweb-gotham hr {
  height: 1px;
  border: 0;
  background-color: rgb(18, 42, 63);
  border-style: inset;
  border-width: 1px;
}
.mweb-gotham p {
  margin-left: 0;
  margin-right: 0;
}
.mweb-gotham pre,
.mweb-gotham pre[class*=language-] {
  padding: 0;
  border: 0;
}
.mweb-gotham blockquote {
  display: block;
  padding-left: 0.8em;
  border-left: 0.2em solid rgb(42, 168, 137);
  color: rgb(106, 169, 185);
}
.mweb-gotham blockquote > :first-child {
  margin-top: 0;
}
.mweb-gotham blockquote > :last-child {
  margin-bottom: 0;
}
.mweb-gotham li {
  word-wrap: break-all;
}
.mweb-gotham ul {
  margin-left: 1.3em;
  padding: 0;
}
.mweb-gotham li::marker {
  color: rgb(42, 168, 137);
}
.mweb-gotham li > p {
  margin: 0;
}
.mweb-gotham ol {
  margin-left: 1.3em;
  padding: 0;
  list-style-type: decimal;
}
.mweb-gotham .task-list-item {
  list-style-type: none;
  text-indent: -1.5em;
}
.mweb-gotham .task-list-item:before {
  content: "";
  display: static;
  margin-right: 0px;
}
.mweb-gotham .task-list-item > input[type=checkbox] {
  text-indent: -1.7em;
}
.mweb-gotham img {
  max-width: 100%;
  height: auto;
}
.mweb-gotham u {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(42, 168, 137) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 1em;
}
.mweb-gotham a {
  color: rgb(242, 130, 90);
  text-decoration: none;
}
.mweb-gotham a:hover, .mweb-gotham a:focus, .mweb-gotham a:active {
  text-decoration: underline;
}
.mweb-gotham a img {
  border: none;
}
.mweb-gotham b,
.mweb-gotham strong {
  font-weight: bold;
}
.mweb-gotham i,
.mweb-gotham cite,
.mweb-gotham em,
.mweb-gotham var,
.mweb-gotham address,
.mweb-gotham dfn {
  font-style: italic;
}
.mweb-gotham del,
.mweb-gotham s {
  color: rgba(89, 156, 171, 0.7);
}
.mweb-gotham pre,
.mweb-gotham xmp,
.mweb-gotham plaintext,
.mweb-gotham listing,
.mweb-gotham code,
.mweb-gotham kbd,
.mweb-gotham tt,
.mweb-gotham samp {
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.mweb-gotham mark {
  color: inherit;
  display: inline;
  padding: 0.2em 0.5em;
  background-color: rgb(43, 56, 79);
}
.mweb-gotham figcaption {
  text-align: center;
}
.mweb-gotham table {
  color: rgb(89, 156, 171);
  border-collapse: collapse;
  background-color: rgb(10, 23, 34);
  border-spacing: 2px;
  font-size: 1em;
  border: 1px;
  border-spacing: 0;
}
.mweb-gotham th,
.mweb-gotham td {
  padding: 0.7em 1em;
  font-size: 0.9em;
  border: 1px solid rgb(18, 42, 63);
}
.mweb-gotham caption,
.mweb-gotham th,
.mweb-gotham td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.mweb-gotham div[id^=mweb-chart-ele] svg {
  background-color: white;
}
.mweb-gotham .footnotes > ol li {
  text-indent: 0;
}
.mweb-gotham .footnotes > ol li::before {
  float: left;
}
.mweb-gotham .footnotes hr {
  margin-top: 4em;
  margin-bottom: 0.5em;
}
.mweb-gotham code {
  display: inline;
  color: rgb(89, 156, 171);
}
.mweb-gotham .code-section {
  display: flex;
  border: solid 1px rgb(18, 42, 63);
  background-color: rgb(10, 23, 34);
}
.mweb-gotham section pre {
  margin: 0;
  overflow-x: auto;
}
.mweb-gotham section code {
  display: block;
  padding: 0.9em;
  font-size: 0.9em;
  line-height: 1.6em;
  text-wrap: nowrap;
}
.mweb-gotham section ul {
  flex-shrink: 0;
  counter-reset: line;
  margin: 0;
  padding: 0.9em 0 0.9em 0.9em;
  white-space: normal;
  width: fit-content;
}
.mweb-gotham section ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  text-wrap: nowrap;
  line-height: 1.6em;
  font-size: 0.9em;
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 0;
  list-style-type: none;
  color: rgb(106, 169, 185);
}
.mweb-gotham section ul > li::marker {
  content: none;
}