/*
 * Default theme，适用于 core/mweb-base.scss。
 * 取值参考 chrome 默认样式：
 * https://chromium.googlesource.com/chromium/blink/+/refs/heads/main/Source/core/css/html.css
 * 所有 import "core/mweb-base.scss" 的文件都应该同时导入此变量文件。
 */
/* color */
/* font & line */
/* boxing */
/* elememts */
/* color */
/* prism & pre */
/* font */
/* header */
/* spacing */
/* table */
/*
 * 基准样式，相当于 reset.css，使主题在不同平台下有统一的表现。
 * 各个属性的默认值为 chrome 的默认样式，见 variables/default.scss。
 */
/**
 * MWeb 包裹 markdown 的容器是 .note-to-mp
 * Typora 中是 #write
 */
.note-to-mp {
  line-height: 1.68;
  -webkit-text-size-adjust: 100%;
  margin: 0px 0px;
  padding: 1rem 1rem;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial, Segoe UI, PingFang SC, Microsoft Yahei, Hiragino Sans GB, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 16px;
  color: #1f2329;
  background-color: white;
  /* spacing */
  /* block */
  /* list */
  /* inline */
  /* table */
  /* svg */
}
.note-to-mp * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.note-to-mp > *:first-child {
  margin-top: 0 !important;
}
.note-to-mp > *:last-child {
  margin-top: 0 !important;
}
.note-to-mp p, .note-to-mp details, .note-to-mp dl, .note-to-mp ol, .note-to-mp ul, .note-to-mp pre, .note-to-mp xmp, .note-to-mp plaintext, .note-to-mp listing, .note-to-mp blockquote, .note-to-mp table, .note-to-mp figure, .note-to-mp hr {
  margin-top: 8px;
  margin-bottom: 8px;
}
.note-to-mp h1 {
  font-size: 26px;
  font-weight: bold;
  margin-top: 26px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
.note-to-mp h2 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 22px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
}
.note-to-mp h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
}
.note-to-mp h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
}
.note-to-mp h5 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
}
.note-to-mp h6 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
}
.note-to-mp p {
  margin-left: 0;
  margin-right: 0;
}
.note-to-mp pre, .note-to-mp xmp, .note-to-mp plaintext, .note-to-mp listing {
  font-family: monospace, Menlo-Regular, Menlo, Monaco, Consolas, "Courier New";
}
.note-to-mp blockquote > :first-child {
  margin-top: 0;
}
.note-to-mp blockquote > :last-child {
  margin-bottom: 0;
}
.note-to-mp hr {
  border-style: inset;
  border-width: 1px;
}
.note-to-mp img {
  max-width: 100%;
  height: auto;
}
.note-to-mp li {
  word-wrap: break-all;
}
.note-to-mp li + li {
  margin-top: 4px;
}
.note-to-mp ul ul, .note-to-mp ol ul, .note-to-mp ul ol, .note-to-mp ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.note-to-mp .task-list-item {
  list-style-type: none;
}
.note-to-mp a {
  color: #3370ff;
  text-decoration: underline;
}
.note-to-mp a img {
  border: none;
}
.note-to-mp b, .note-to-mp strong {
  font-weight: bold;
}
.note-to-mp i, .note-to-mp cite, .note-to-mp em, .note-to-mp var, .note-to-mp address, .note-to-mp dfn {
  font-style: italic;
}
.note-to-mp code, .note-to-mp kbd, .note-to-mp tt, .note-to-mp samp {
  font-family: monospace, Menlo-Regular, Menlo, Monaco, Consolas, "Courier New";
}
.note-to-mp mark {
  padding: 0.2em 0;
  background-color: rgba(255, 246, 122, 0.8);
}
.note-to-mp del, .note-to-mp s {
  color: inherit;
}
.note-to-mp table {
  color: black;
  border-collapse: collapse;
  background-color: white;
  border-spacing: 2px;
  font-size: 1em;
}
.note-to-mp th, .note-to-mp td {
  border-color: #dee0e3;
  border-width: 1px;
  border-style: solid;
}
.note-to-mp th {
  padding: 8px 8px;
  font-size: 1em;
  font-weight: 600;
}
.note-to-mp td {
  padding: 8px 8px;
  font-size: 1em;
  font-weight: normal;
}
.note-to-mp div[id^=mweb-chart-ele] svg {
  background-color: white;
}

.note-to-mp * {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.note-to-mp h1, .note-to-mp h2, .note-to-mp h3, .note-to-mp h4, .note-to-mp h5, .note-to-mp h6 {
  line-height: 1.4;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.37em;
}
.note-to-mp blockquote {
  display: block;
  margin-left: 0;
  padding-left: 14px;
  border-left: 2px solid #3370ff;
  color: rgba(31, 35, 41, 0.7);
}
.note-to-mp a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  hyphens: auto;
  word-break: break-word;
  color: #3370ff;
  text-decoration: none;
}
.note-to-mp a:hover {
  text-decoration: underline;
}
.note-to-mp hr {
  margin: 13px 0 12px;
  border: 0px;
  height: 1px;
  background-origin: content-box;
  background-image: linear-gradient(90deg, rgb(187, 191, 196), rgb(187, 191, 196));
  background-repeat: no-repeat;
}
.note-to-mp ul > li:not([class*=task-list-item]) {
  word-wrap: break-all;
  padding-left: 12px;
}
.note-to-mp ul > li:not([class*=task-list-item])::marker {
  color: #3370ff;
}
.note-to-mp ol > li:not([class*=task-list-item]) {
  word-wrap: break-all;
  padding-left: 12px;
}
.note-to-mp ol > li:not([class*=task-list-item])::marker {
  color: #3370ff;
}
.note-to-mp li + li, .note-to-mp ul ul, .note-to-mp ol ul, .note-to-mp ul ol, .note-to-mp ol ol, .note-to-mp li ul, .note-to-mp li ol {
  margin-top: 4px;
}
.note-to-mp .task-list-item {
  padding-left: 28px;
  margin-left: -6px;
  list-style: none;
  word-wrap: break-all;
}
.note-to-mp .task-list-item input {
  margin: 0 !important;
  appearance: none;
  -webkit-appearance: none;
}
.note-to-mp .task-list-item input:before {
  content: " ";
  display: inline-block;
  position: relative;
  line-height: normal;
  font-size: 16px;
  top: 2px;
  border-radius: 2px;
  border: 1px solid #2b2f36;
  background-position: 50%;
  white-space: normal;
  width: 14px;
  height: 14px;
  margin-left: -22px;
  margin-right: 6px;
}
.note-to-mp .task-list-item input:checked:before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEwLjU4OSAzLjkwM2wuODA4LjgwOGEuMzUuMzUgMCAwIDEgMCAuNDk1TDYuMTggMTAuNDI1YS4zNS4zNSAwIDAgMS0uNDk1IDBMMi43MDMgNy40NDRhLjM1LjM1IDAgMCAxIDAtLjQ5NWwuODA4LS44MDhhLjM1LjM1IDAgMCAxIC40OTUgMGwxLjkyNSAxLjkyNCA0LjE2My00LjE2M2EuMzUuMzUgMCAwIDEgLjQ5NSAweiIgZmlsbD0iIzMzNzBGRiIvPjwvc3ZnPg==);
  background-size: contain;
}
.note-to-mp .footnotes hr {
  margin-top: 4em;
  margin-bottom: 0.5em;
}
.note-to-mp code {
  border-radius: 4px;
  margin-left: 2px;
  margin-right: 2px;
  border: 1px solid #dee0e3;
  background-color: #f5f6f7;
  word-spacing: normal;
  line-height: 1.6em;
  padding: 0 2px;
}
.note-to-mp .code-section {
  display: flex;
  border: 1px solid #dee0e3;
  background-color: #f5f6f7;
}
.note-to-mp .code-section pre {
  margin: 0;
  display: block;
  padding: 1em;
  overflow-x: auto;
}
.note-to-mp .code-section pre code {
  border: none;
  background-color: #f5f6f7;
  font-size: 1em;
  line-height: 1.8em;
  padding: 0 !important;
  margin: 0 !important;
  text-wrap: nowrap;
}
.note-to-mp .code-section ul {
  flex-shrink: 0;
  counter-reset: line;
  margin: 0;
  padding: 1em 0 1em 1em;
  white-space: normal;
  width: fit-content;
}
.note-to-mp .code-section ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  text-wrap: nowrap;
  line-height: 1.8em;
  font-size: 1em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 0;
  list-style-type: none;
  color: #ff502c;
}
.note-to-mp .code-section ul > li::marker {
  content: none;
}

.note-to-mp strong {
  color: rgb(36, 91, 219);
}