/*
 * PrismJS default theme
 * 这个文件只应该包含变量
 */
/*
 * Default bear theme，适用于 core/mweb-bear.scss。
 * 所有 bear 主题，只需 import 这个文件，然后修改配色方案即可。
 */
/* font */
/* container */
/*  spacing */
/* color */
/* other */
/**
 * 在 bear 的主题中，某些变量的取值和其他变量是绑定的。
 * 统一写在这里，这个文件应该在变量文件的最后被引入。
 */
/**
 * Bear 的默认样式表。通过调整各个颜色变量的取值，就可以得到不同的 bear 主题。
 * Bear 的配色方案位于 src/themes/bear-palettes 目录下。
 */
.note-to-mp {
  font-family: AvenirNext-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  color: rgb(50, 62, 69);
  background-color: rgb(253, 246, 227);
  line-height: 1.6em;
  -webkit-text-size-adjust: 100%;
  margin: 0px 0px;
  padding: 1em 1em;
  /* 代码块 */
}
.note-to-mp * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.note-to-mp > *:first-child {
  margin-top: 0 !important;
}
.note-to-mp > *:last-child {
  margin-top: 0 !important;
}
.note-to-mp p,
.note-to-mp pre,
.note-to-mp dl,
.note-to-mp form,
.note-to-mp details,
.note-to-mp dl,
.note-to-mp blockquote,
.note-to-mp table,
.note-to-mp xmp,
.note-to-mp plaintext,
.note-to-mp listing,
.note-to-mp figure {
  margin: 0.75em 0 0.45em;
}
.note-to-mp hr {
  margin: 0.75em auto;
}
.note-to-mp h1,
.note-to-mp h2,
.note-to-mp h3,
.note-to-mp h4,
.note-to-mp h5,
.note-to-mp h6 {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
  font-family: AvenirNext-Medium;
  font-weight: 600;
  line-height: 1.5em;
  color: rgb(59, 79, 84);
}
.note-to-mp h1 {
  font-size: 1.5em;
}
.note-to-mp h2 {
  font-size: 1.3em;
}
.note-to-mp h3 {
  font-size: 1.1em;
}
.note-to-mp h4 {
  font-size: 1em;
}
.note-to-mp h5 {
  font-size: 1em;
}
.note-to-mp h6 {
  font-size: 1em;
}
.note-to-mp hr {
  height: 1px;
  border: 0;
  background-color: rgba(147, 161, 161, 0.5);
  border-style: inset;
  border-width: 1px;
}
.note-to-mp p {
  margin-left: 0;
  margin-right: 0;
}
.note-to-mp pre,
.note-to-mp pre[class*=language-] {
  padding: 0;
  border: 0;
}
.note-to-mp blockquote {
  display: block;
  padding-left: 0.8em;
  border-left: 0.2em solid rgb(165, 104, 18);
  color: rgb(50, 62, 69);
}
.note-to-mp blockquote > :first-child {
  margin-top: 0;
}
.note-to-mp blockquote > :last-child {
  margin-bottom: 0;
}
.note-to-mp li {
  word-wrap: break-all;
}
.note-to-mp ul {
  margin-left: 1.3em;
  padding: 0;
}
.note-to-mp li::marker {
  color: rgb(165, 104, 18);
}
.note-to-mp li > p {
  margin: 0;
}
.note-to-mp ol {
  margin-left: 1.3em;
  padding: 0;
  list-style-type: decimal;
}
.note-to-mp .task-list-item {
  list-style-type: none;
  text-indent: -1.5em;
}
.note-to-mp .task-list-item:before {
  content: "";
  display: static;
  margin-right: 0px;
}
.note-to-mp .task-list-item > input[type=checkbox] {
  text-indent: -1.7em;
}
.note-to-mp img {
  max-width: 100%;
  height: auto;
}
.note-to-mp u {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(165, 104, 18) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 1em;
}
.note-to-mp a {
  color: rgb(172, 117, 20);
  text-decoration: none;
}
.note-to-mp a:hover, .note-to-mp a:focus, .note-to-mp a:active {
  text-decoration: underline;
}
.note-to-mp a img {
  border: none;
}
.note-to-mp b,
.note-to-mp strong {
  font-weight: bold;
}
.note-to-mp i,
.note-to-mp cite,
.note-to-mp em,
.note-to-mp var,
.note-to-mp address,
.note-to-mp dfn {
  font-style: italic;
}
.note-to-mp del,
.note-to-mp s {
  color: rgb(113, 127, 125);
}
.note-to-mp pre,
.note-to-mp xmp,
.note-to-mp plaintext,
.note-to-mp listing,
.note-to-mp code,
.note-to-mp kbd,
.note-to-mp tt,
.note-to-mp samp {
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.note-to-mp mark {
  color: inherit;
  display: inline;
  padding: 0.2em 0.5em;
  background-color: rgb(202, 255, 147);
}
.note-to-mp figcaption {
  text-align: center;
}
.note-to-mp table {
  color: rgb(101, 123, 131);
  border-collapse: collapse;
  background-color: rgb(252, 244, 220);
  border-spacing: 2px;
  font-size: 1em;
  border: 1px;
  border-spacing: 0;
}
.note-to-mp th,
.note-to-mp td {
  padding: 0.7em 1em;
  font-size: 0.9em;
  border: 1px solid rgba(147, 161, 161, 0.5);
}
.note-to-mp caption,
.note-to-mp th,
.note-to-mp td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.note-to-mp div[id^=mweb-chart-ele] svg {
  background-color: white;
}
.note-to-mp .footnotes > ol li {
  text-indent: 0;
}
.note-to-mp .footnotes > ol li::before {
  float: left;
}
.note-to-mp .footnotes hr {
  margin-top: 4em;
  margin-bottom: 0.5em;
}
.note-to-mp code {
  display: inline;
  color: rgb(101, 123, 131);
}
.note-to-mp .code-section {
  display: flex;
  border: solid 1px rgba(147, 161, 161, 0.5);
  background-color: rgb(252, 244, 220);
}
.note-to-mp .code-section pre {
  margin: 0;
  overflow-x: auto;
}
.note-to-mp .code-section code {
  display: block;
  padding: 0.9em;
  font-size: 0.9em;
  line-height: 1.6em;
  text-wrap: nowrap;
  background-color: rgb(252, 244, 220);
}
.note-to-mp .code-section ul {
  flex-shrink: 0;
  counter-reset: line;
  margin: 0;
  padding: 0.9em 0 0.9em 0.9em;
  white-space: normal;
  width: fit-content;
}
.note-to-mp .code-section ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  text-wrap: nowrap;
  line-height: 1.6em;
  font-size: 0.9em;
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 0;
  list-style-type: none;
  color: rgb(50, 62, 69);
}
.note-to-mp .code-section ul > li::marker {
  content: none;
}