/*
 * PrismJS default theme
 * 这个文件只应该包含变量
 */
/*
 * Default bear theme，适用于 core/mweb-bear.scss。
 * 所有 bear 主题，只需 import 这个文件，然后修改配色方案即可。
 */
/* font */
/* container */
/*  spacing */
/* color */
/* other */
/**
 * 在 bear 的主题中，某些变量的取值和其他变量是绑定的。
 * 统一写在这里，这个文件应该在变量文件的最后被引入。
 */
/**
 * Bear 的默认样式表。通过调整各个颜色变量的取值，就可以得到不同的 bear 主题。
 * Bear 的配色方案位于 src/themes/bear-palettes 目录下。
 */
.mweb-panic {
  font-family: AvenirNext-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  color: rgb(246, 247, 238);
  background-color: rgb(17, 28, 42);
  line-height: 1.6em;
  -webkit-text-size-adjust: 100%;
  margin: 0px 0px;
  padding: 1.6em 3.2em;
  /* 代码块 */
}
.mweb-panic * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.mweb-panic > *:first-child {
  margin-top: 0 !important;
}
.mweb-panic > *:last-child {
  margin-top: 0 !important;
}
.mweb-panic p,
.mweb-panic pre,
.mweb-panic dl,
.mweb-panic form,
.mweb-panic details,
.mweb-panic dl,
.mweb-panic blockquote,
.mweb-panic table,
.mweb-panic xmp,
.mweb-panic plaintext,
.mweb-panic listing,
.mweb-panic figure {
  margin: 0.75em 0 0.45em;
}
.mweb-panic hr {
  margin: 0.75em auto;
}
.mweb-panic h1,
.mweb-panic h2,
.mweb-panic h3,
.mweb-panic h4,
.mweb-panic h5,
.mweb-panic h6 {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
  font-family: AvenirNext-Medium;
  font-weight: 600;
  line-height: 1.5em;
  color: rgb(249, 181, 55);
}
.mweb-panic h1 {
  font-size: 1.5em;
}
.mweb-panic h2 {
  font-size: 1.3em;
}
.mweb-panic h3 {
  font-size: 1.1em;
}
.mweb-panic h4 {
  font-size: 1em;
}
.mweb-panic h5 {
  font-size: 1em;
}
.mweb-panic h6 {
  font-size: 1em;
}
.mweb-panic hr {
  height: 1px;
  border: 0;
  background-color: rgb(45, 69, 98);
  border-style: inset;
  border-width: 1px;
}
.mweb-panic p {
  margin-left: 0;
  margin-right: 0;
}
.mweb-panic pre,
.mweb-panic pre[class*=language-] {
  padding: 0;
  border: 0;
}
.mweb-panic blockquote {
  display: block;
  padding-left: 0.8em;
  border-left: 0.2em solid rgb(249, 181, 55);
  color: rgb(246, 247, 238);
}
.mweb-panic blockquote > :first-child {
  margin-top: 0;
}
.mweb-panic blockquote > :last-child {
  margin-bottom: 0;
}
.mweb-panic li {
  word-wrap: break-all;
}
.mweb-panic ul {
  margin-left: 1.3em;
  padding: 0;
}
.mweb-panic li::marker {
  color: rgb(249, 181, 55);
}
.mweb-panic li > p {
  margin: 0;
}
.mweb-panic ol {
  margin-left: 1.3em;
  padding: 0;
  list-style-type: decimal;
}
.mweb-panic .task-list-item {
  list-style-type: none;
  text-indent: -1.5em;
}
.mweb-panic .task-list-item:before {
  content: "";
  display: static;
  margin-right: 0px;
}
.mweb-panic .task-list-item > input[type=checkbox] {
  text-indent: -1.7em;
}
.mweb-panic img {
  max-width: 100%;
  height: auto;
}
.mweb-panic u {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(249, 181, 55) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 1em;
}
.mweb-panic a {
  color: rgb(84, 193, 220);
  text-decoration: none;
}
.mweb-panic a:hover, .mweb-panic a:focus, .mweb-panic a:active {
  text-decoration: underline;
}
.mweb-panic a img {
  border: none;
}
.mweb-panic b,
.mweb-panic strong {
  font-weight: bold;
}
.mweb-panic i,
.mweb-panic cite,
.mweb-panic em,
.mweb-panic var,
.mweb-panic address,
.mweb-panic dfn {
  font-style: italic;
}
.mweb-panic del,
.mweb-panic s {
  color: rgb(176, 176, 176);
}
.mweb-panic pre,
.mweb-panic xmp,
.mweb-panic plaintext,
.mweb-panic listing,
.mweb-panic code,
.mweb-panic kbd,
.mweb-panic tt,
.mweb-panic samp {
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.mweb-panic mark {
  color: inherit;
  display: inline;
  padding: 0.2em 0.5em;
  background-color: rgb(45, 78, 120);
}
.mweb-panic figcaption {
  text-align: center;
}
.mweb-panic table {
  color: rgb(246, 247, 238);
  border-collapse: collapse;
  background-color: rgb(23, 33, 52);
  border-spacing: 2px;
  font-size: 1em;
  border: 1px;
  border-spacing: 0;
}
.mweb-panic th,
.mweb-panic td {
  padding: 0.7em 1em;
  font-size: 0.9em;
  border: 1px solid rgb(45, 69, 98);
}
.mweb-panic caption,
.mweb-panic th,
.mweb-panic td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.mweb-panic div[id^=mweb-chart-ele] svg {
  background-color: white;
}
.mweb-panic .footnotes > ol li {
  text-indent: 0;
}
.mweb-panic .footnotes > ol li::before {
  float: left;
}
.mweb-panic .footnotes hr {
  margin-top: 4em;
  margin-bottom: 0.5em;
}
.mweb-panic code {
  display: inline;
  color: rgb(246, 247, 238);
}
.mweb-panic .code-section {
  display: flex;
  border: solid 1px rgb(45, 69, 98);
  background-color: rgb(23, 33, 52);
}
.mweb-panic section pre {
  margin: 0;
  overflow-x: auto;
}
.mweb-panic section code {
  display: block;
  padding: 0.9em;
  font-size: 0.9em;
  line-height: 1.6em;
  text-wrap: nowrap;
}
.mweb-panic section ul {
  flex-shrink: 0;
  counter-reset: line;
  margin: 0;
  padding: 0.9em 0 0.9em 0.9em;
  white-space: normal;
  width: fit-content;
}
.mweb-panic section ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  text-wrap: nowrap;
  line-height: 1.6em;
  font-size: 0.9em;
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 0;
  list-style-type: none;
  color: rgb(246, 247, 238);
}
.mweb-panic section ul > li::marker {
  content: none;
}