/*
 * Default theme，适用于 core/mweb-base.scss。
 * 取值参考 chrome 默认样式：
 * https://chromium.googlesource.com/chromium/blink/+/refs/heads/main/Source/core/css/html.css
 * 所有 import "core/mweb-base.scss" 的文件都应该同时导入此变量文件。
 */
/* color */
/* font & line */
/* boxing */
/* elememts */
/* color */
/* prism & pre */
/* font */
/* header */
/* spacing */
/* table */
/*
 * 基准样式，相当于 reset.css，使主题在不同平台下有统一的表现。
 * 各个属性的默认值为 chrome 的默认样式，见 variables/default.scss。
 */
/**
 * MWeb 包裹 markdown 的容器是 .mweb-lark
 * Typora 中是 #write
 */
.mweb-lark {
  line-height: 1.68;
  -webkit-text-size-adjust: 100%;
  margin: 0px 0px;
  padding: 1.6rem 3.2rem;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial, Segoe UI, PingFang SC, Microsoft Yahei, Hiragino Sans GB, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 16px;
  color: #1f2329;
  background-color: white;
  /* spacing */
  /* block */
  /* list */
  /* inline */
  /* table */
  /* svg */
}
.mweb-lark * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.mweb-lark > *:first-child {
  margin-top: 0 !important;
}
.mweb-lark > *:last-child {
  margin-top: 0 !important;
}
.mweb-lark p, .mweb-lark details, .mweb-lark dl, .mweb-lark ol, .mweb-lark ul, .mweb-lark pre, .mweb-lark xmp, .mweb-lark plaintext, .mweb-lark listing, .mweb-lark blockquote, .mweb-lark table, .mweb-lark figure, .mweb-lark hr {
  margin-top: 8px;
  margin-bottom: 8px;
}
.mweb-lark h1 {
  font-size: 26px;
  font-weight: bold;
  margin-top: 26px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
.mweb-lark h2 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 22px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
}
.mweb-lark h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
}
.mweb-lark h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
}
.mweb-lark h5 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
}
.mweb-lark h6 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
}
.mweb-lark p {
  margin-left: 0;
  margin-right: 0;
}
.mweb-lark pre, .mweb-lark xmp, .mweb-lark plaintext, .mweb-lark listing {
  font-family: monospace, Menlo-Regular, Menlo, Monaco, Consolas, "Courier New";
}
.mweb-lark blockquote > :first-child {
  margin-top: 0;
}
.mweb-lark blockquote > :last-child {
  margin-bottom: 0;
}
.mweb-lark hr {
  border-style: inset;
  border-width: 1px;
}
.mweb-lark img {
  max-width: 100%;
  height: auto;
}
.mweb-lark li {
  word-wrap: break-all;
}
.mweb-lark li + li {
  margin-top: 4px;
}
.mweb-lark ul ul, .mweb-lark ol ul, .mweb-lark ul ol, .mweb-lark ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.mweb-lark .task-list-item {
  list-style-type: none;
}
.mweb-lark a {
  color: #3370ff;
  text-decoration: underline;
}
.mweb-lark a img {
  border: none;
}
.mweb-lark b, .mweb-lark strong {
  font-weight: bold;
}
.mweb-lark i, .mweb-lark cite, .mweb-lark em, .mweb-lark var, .mweb-lark address, .mweb-lark dfn {
  font-style: italic;
}
.mweb-lark code, .mweb-lark kbd, .mweb-lark tt, .mweb-lark samp {
  font-family: monospace, Menlo-Regular, Menlo, Monaco, Consolas, "Courier New";
}
.mweb-lark mark {
  padding: 0.2em 0;
  background-color: rgba(255, 246, 122, 0.8);
}
.mweb-lark del, .mweb-lark s {
  color: inherit;
}
.mweb-lark table {
  color: black;
  border-collapse: collapse;
  background-color: white;
  border-spacing: 2px;
  font-size: 1em;
}
.mweb-lark th, .mweb-lark td {
  border-color: #dee0e3;
  border-width: 1px;
  border-style: solid;
}
.mweb-lark th {
  padding: 8px 8px;
  font-size: 1em;
  font-weight: 600;
}
.mweb-lark td {
  padding: 8px 8px;
  font-size: 1em;
  font-weight: normal;
}
.mweb-lark div[id^=mweb-chart-ele] svg {
  background-color: white;
}

.mweb-lark * {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.mweb-lark h1, .mweb-lark h2, .mweb-lark h3, .mweb-lark h4, .mweb-lark h5, .mweb-lark h6 {
  line-height: 1.4;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.37em;
}
.mweb-lark blockquote {
  display: block;
  margin-left: 0;
  padding-left: 14px;
  border-left: 2px solid #3370ff;
  color: rgba(31, 35, 41, 0.7);
}
.mweb-lark a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  hyphens: auto;
  word-break: break-word;
  color: #3370ff;
  text-decoration: none;
}
.mweb-lark a:hover {
  text-decoration: underline;
}
.mweb-lark hr {
  margin: 13px 0 12px;
  border: 0px;
  height: 1px;
  background-origin: content-box;
  background-image: linear-gradient(90deg, rgb(187, 191, 196), rgb(187, 191, 196));
  background-repeat: no-repeat;
}
.mweb-lark ul > li:not([class*=task-list-item]) {
  word-wrap: break-all;
  padding-left: 12px;
}
.mweb-lark ul > li:not([class*=task-list-item])::marker {
  color: #3370ff;
}
.mweb-lark ol > li:not([class*=task-list-item]) {
  word-wrap: break-all;
  padding-left: 12px;
}
.mweb-lark ol > li:not([class*=task-list-item])::marker {
  color: #3370ff;
}
.mweb-lark li + li, .mweb-lark ul ul, .mweb-lark ol ul, .mweb-lark ul ol, .mweb-lark ol ol, .mweb-lark li ul, .mweb-lark li ol {
  margin-top: 4px;
}
.mweb-lark .task-list-item {
  padding-left: 28px;
  margin-left: -6px;
  list-style: none;
  word-wrap: break-all;
}
.mweb-lark .task-list-item input {
  margin: 0 !important;
  appearance: none;
  -webkit-appearance: none;
}
.mweb-lark .task-list-item input:before {
  content: " ";
  display: inline-block;
  position: relative;
  line-height: normal;
  font-size: 16px;
  top: 2px;
  border-radius: 2px;
  border: 1px solid #2b2f36;
  background-position: 50%;
  white-space: normal;
  width: 14px;
  height: 14px;
  margin-left: -22px;
  margin-right: 6px;
}
.mweb-lark .task-list-item input:checked:before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEwLjU4OSAzLjkwM2wuODA4LjgwOGEuMzUuMzUgMCAwIDEgMCAuNDk1TDYuMTggMTAuNDI1YS4zNS4zNSAwIDAgMS0uNDk1IDBMMi43MDMgNy40NDRhLjM1LjM1IDAgMCAxIDAtLjQ5NWwuODA4LS44MDhhLjM1LjM1IDAgMCAxIC40OTUgMGwxLjkyNSAxLjkyNCA0LjE2My00LjE2M2EuMzUuMzUgMCAwIDEgLjQ5NSAweiIgZmlsbD0iIzMzNzBGRiIvPjwvc3ZnPg==);
  background-size: contain;
}
.mweb-lark .footnotes hr {
  margin-top: 4em;
  margin-bottom: 0.5em;
}
.mweb-lark code {
  border-radius: 4px;
  margin-left: 2px;
  margin-right: 2px;
  border: 1px solid #dee0e3;
  background-color: #f5f6f7;
  word-spacing: normal;
  line-height: 1.6em;
  padding: 0 2px;
}
.mweb-lark .code-section {
  display: flex;
  border: 1px solid #dee0e3;
  background-color: #f5f6f7;
}
.mweb-lark section pre {
  margin: 0;
  display: block;
  padding: 1em;
  overflow-x: auto;
}
.mweb-lark section pre code {
  border: none;
  font-size: 1em;
  line-height: 1.8em;
  padding: 0 !important;
  margin: 0 !important;
  text-wrap: nowrap;
}
.mweb-lark section ul {
  flex-shrink: 0;
  counter-reset: line;
  margin: 0;
  padding: 1em 0 1em 1em;
  white-space: normal;
  width: fit-content;
}
.mweb-lark section ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  text-wrap: nowrap;
  line-height: 1.8em;
  font-size: 1em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 0;
  list-style-type: none;
  color: #ff502c;
}
.mweb-lark section ul > li::marker {
  content: none;
}