:root {
  --side-bar-bg-color: #fff;
  --control-text-color: #777;
}

.note-to-mp {
  font-size: 16px;
  font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif !important;
  color: #34495e;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6rem;
  letter-spacing: 0;
  margin: 0;
  overflow-x: hidden;
  padding: 2em;
  /** focus mode */
  /* MWeb：代码块高亮 */
}
.note-to-mp .task-list-item {
  list-style-type: none;
  text-indent: -1.5em;
}
.note-to-mp .task-list-item:before {
  content: "";
  display: static;
  margin-right: 0px;
}
.note-to-mp .task-list-item > input[type=checkbox] {
  text-indent: -1.7em;
}
.note-to-mp > *:first-child {
  margin-top: 0 !important;
}
.note-to-mp > *:last-child {
  margin-bottom: 0 !important;
}
.note-to-mp img {
  max-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.note-to-mp a {
  color: #42b983;
  font-weight: 600;
  padding: 0 2px;
  text-decoration: none;
}
.note-to-mp h1,
.note-to-mp h2,
.note-to-mp h3,
.note-to-mp h4,
.note-to-mp h5,
.note-to-mp h6 {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.4;
  cursor: text;
}
.note-to-mp h1:hover a.anchor,
.note-to-mp h2:hover a.anchor,
.note-to-mp h3:hover a.anchor,
.note-to-mp h4:hover a.anchor,
.note-to-mp h5:hover a.anchor,
.note-to-mp h6:hover a.anchor {
  text-decoration: none;
}
.note-to-mp h1 tt,
.note-to-mp h1 code {
  font-size: inherit !important;
}
.note-to-mp h2 tt,
.note-to-mp h2 code {
  font-size: inherit !important;
}
.note-to-mp h3 tt,
.note-to-mp h3 code {
  font-size: inherit !important;
}
.note-to-mp h4 tt,
.note-to-mp h4 code {
  font-size: inherit !important;
}
.note-to-mp h5 tt,
.note-to-mp h5 code {
  font-size: inherit !important;
}
.note-to-mp h6 tt,
.note-to-mp h6 code {
  font-size: inherit !important;
}
.note-to-mp h2 a,
.note-to-mp h3 a {
  color: #34495e;
}
.note-to-mp h1 {
  padding-bottom: 0.4rem;
  font-size: 2.2rem;
  line-height: 1.3;
}
.note-to-mp h2 {
  font-size: 1.75rem;
  line-height: 1.225;
  margin: 35px 0 15px;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ddd;
}
.note-to-mp h3 {
  font-size: 1.4rem;
  line-height: 1.43;
  margin: 20px 0 7px;
}
.note-to-mp h4 {
  font-size: 1.2rem;
}
.note-to-mp h5 {
  font-size: 1rem;
}
.note-to-mp h6 {
  font-size: 1rem;
  color: #777;
}
.note-to-mp p,
.note-to-mp blockquote,
.note-to-mp ul,
.note-to-mp ol,
.note-to-mp dl,
.note-to-mp table {
  margin: 0.8em 0;
}
.note-to-mp li > ol,
.note-to-mp li > ul {
  margin: 0 0;
}
.note-to-mp hr {
  height: 2px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
  overflow: hidden;
  box-sizing: content-box;
}
.note-to-mp > h2:first-child {
  margin-top: 0;
  padding-top: 0;
}
.note-to-mp > h1:first-child {
  margin-top: 0;
  padding-top: 0;
}
.note-to-mp > h1:first-child + h2 {
  margin-top: 0;
  padding-top: 0;
}
.note-to-mp > h3:first-child,
.note-to-mp > h4:first-child,
.note-to-mp > h5:first-child,
.note-to-mp > h6:first-child {
  margin-top: 0;
  padding-top: 0;
}
.note-to-mp a:first-child h1,
.note-to-mp a:first-child h2,
.note-to-mp a:first-child h3,
.note-to-mp a:first-child h4,
.note-to-mp a:first-child h5,
.note-to-mp a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}
.note-to-mp h1 p,
.note-to-mp h2 p,
.note-to-mp h3 p,
.note-to-mp h4 p,
.note-to-mp h5 p,
.note-to-mp h6 p {
  margin-top: 0;
}
.note-to-mp li p.first {
  display: inline-block;
}
.note-to-mp ul,
.note-to-mp ol {
  padding-left: 30px;
}
.note-to-mp ul:first-child,
.note-to-mp ol:first-child {
  margin-top: 0;
}
.note-to-mp ul:last-child,
.note-to-mp ol:last-child {
  margin-bottom: 0;
}
.note-to-mp blockquote {
  border-left: 4px solid #42b983;
  padding: 10px 15px;
  color: #777;
  background-color: rgba(66, 185, 131, 0.1);
}
.note-to-mp table {
  padding: 0;
  word-break: initial;
  border-collapse: collapse;
}
.note-to-mp table tr {
  border-top: 1px solid #dfe2e5;
  margin: 0;
  padding: 0;
}
.note-to-mp table tr:nth-child(2n),
.note-to-mp thead {
  background-color: #fafafa;
}
.note-to-mp table tr th {
  font-weight: bold;
  border: 1px solid #dfe2e5;
  border-bottom: 0;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.note-to-mp table tr td {
  border: 1px solid #dfe2e5;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.note-to-mp table tr th:first-child,
.note-to-mp table tr td:first-child {
  margin-top: 0;
}
.note-to-mp table tr th:last-child,
.note-to-mp table tr td:last-child {
  margin-bottom: 0;
}
.note-to-mp .cm-s-inner .cm-link,
.note-to-mp .cm-s-inner.cm-link {
  color: #22a2c9;
}
.note-to-mp .cm-s-inner .cm-string {
  color: #22a2c9;
}
.note-to-mp .md-task-list-item > input {
  margin-left: -1.3em;
}
.note-to-mp .md-fences {
  background-color: #f8f8f8;
}
.note-to-mp .mathjax-block > .code-tooltip {
  bottom: 0.375rem;
}
.note-to-mp .md-image > .md-meta {
  border-radius: 3px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  padding: 2px 0 0 4px;
  font-size: 0.9em;
  color: inherit;
}
.note-to-mp .md-tag {
  color: inherit;
}
.note-to-mp .md-toc {
  margin-top: 20px;
  padding-bottom: 20px;
}
.note-to-mp .sidebar-tabs {
  border-bottom: none;
}
.note-to-mp #typora-quick-open {
  border: 1px solid #ddd;
  background-color: #f8f8f8;
}
.note-to-mp #typora-quick-open-item {
  background-color: #fafafa;
  border-color: #fefefe #e5e5e5 #e5e5e5 #eee;
  border-style: solid;
  border-width: 1px;
}
.note-to-mp #md-notification:before {
  top: 10px;
}
.note-to-mp .on-focus-mode blockquote {
  border-left-color: rgba(85, 85, 85, 0.12);
}
.note-to-mp .file-node-content:hover .file-node-icon,
.note-to-mp .file-node-content:hover .file-node-open-state {
  visibility: visible;
}
.note-to-mp .mac-seamless-mode #typora-sidebar {
  background-color: var(--side-bar-bg-color);
}
.note-to-mp .md-lang {
  color: #b4654d;
}
.note-to-mp .html-for-mac .context-menu {
  --item-hover-bg-color: #e6f0fe;
}
.note-to-mp .footnotes hr {
  margin-top: 4em;
  margin-bottom: 0.5em;
}
.note-to-mp code,
.note-to-mp tt,
.note-to-mp pre {
  border-radius: 2px;
  font-family: Roboto Mono, Source Sans Pro, Monaco, courier, monospace !important;
  font-size: 0.92rem;
  color: #e96900;
  overflow-x: auto;
  background-color: #f8f8f8;
}
.note-to-mp code {
  margin: 0 2px;
  padding: 2px 4px;
}
.note-to-mp pre code {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
.note-to-mp pre {
  padding: 0.7em 1em;
}
.note-to-mp .code-section {
  display: flex;
  background: #f8f8f8;
  border-radius: 2px;
}
.note-to-mp .code-section pre {
  margin: 0;
  display: block;
  padding: 1em;
  font-size: 1em;
  overflow-x: auto;
}
.note-to-mp .code-section pre code {
  border: none;
  background: #f8f8f8;
  font-size: 1em;
  line-height: 1.6em;
  padding: 0 !important;
  margin: 0 !important;
  text-wrap: nowrap;
}
.note-to-mp .code-section ul {
  flex-shrink: 0;
  counter-reset: line;
  margin: 0;
  padding: 1em 0 1em 1em;
  white-space: normal;
  width: fit-content;
}
.note-to-mp .code-section ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  text-wrap: nowrap;
  line-height: 1.6em;
  font-size: 1em;
  padding: 0;
  list-style-type: none;
  font-family: Roboto Mono, Source Sans Pro, Monaco, courier, monospace !important;
}
.note-to-mp .code-section ul > li::marker {
  content: none;
}