/*
 * PrismJS default theme
 * 这个文件只应该包含变量
 */
/*
 * Default bear theme，适用于 core/mweb-bear.scss。
 * 所有 bear 主题，只需 import 这个文件，然后修改配色方案即可。
 */
/* font */
/* container */
/*  spacing */
/* color */
/* other */
/**
 * 在 bear 的主题中，某些变量的取值和其他变量是绑定的。
 * 统一写在这里，这个文件应该在变量文件的最后被引入。
 */
/**
 * Bear 的默认样式表。通过调整各个颜色变量的取值，就可以得到不同的 bear 主题。
 * Bear 的配色方案位于 src/themes/bear-palettes 目录下。
 */
.mweb-red-graphite {
  font-family: AvenirNext-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  color: #222222;
  background-color: #fcfcfc;
  line-height: 1.6em;
  -webkit-text-size-adjust: 100%;
  margin: 0px 0px;
  padding: 1.6em 3.2em;
  /* 代码块 */
}
.mweb-red-graphite * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.mweb-red-graphite > *:first-child {
  margin-top: 0 !important;
}
.mweb-red-graphite > *:last-child {
  margin-top: 0 !important;
}
.mweb-red-graphite p,
.mweb-red-graphite pre,
.mweb-red-graphite dl,
.mweb-red-graphite form,
.mweb-red-graphite details,
.mweb-red-graphite dl,
.mweb-red-graphite blockquote,
.mweb-red-graphite table,
.mweb-red-graphite xmp,
.mweb-red-graphite plaintext,
.mweb-red-graphite listing,
.mweb-red-graphite figure {
  margin: 0.75em 0 0.45em;
}
.mweb-red-graphite hr {
  margin: 0.75em auto;
}
.mweb-red-graphite h1,
.mweb-red-graphite h2,
.mweb-red-graphite h3,
.mweb-red-graphite h4,
.mweb-red-graphite h5,
.mweb-red-graphite h6 {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
  font-family: AvenirNext-Medium;
  font-weight: 600;
  line-height: 1.5em;
  color: #262626;
}
.mweb-red-graphite h1 {
  font-size: 1.5em;
}
.mweb-red-graphite h2 {
  font-size: 1.3em;
}
.mweb-red-graphite h3 {
  font-size: 1.1em;
}
.mweb-red-graphite h4 {
  font-size: 1em;
}
.mweb-red-graphite h5 {
  font-size: 1em;
}
.mweb-red-graphite h6 {
  font-size: 1em;
}
.mweb-red-graphite hr {
  height: 1px;
  border: 0;
  background-color: #bfbfbf;
  border-style: inset;
  border-width: 1px;
}
.mweb-red-graphite p {
  margin-left: 0;
  margin-right: 0;
}
.mweb-red-graphite pre,
.mweb-red-graphite pre[class*=language-] {
  padding: 0;
  border: 0;
}
.mweb-red-graphite blockquote {
  display: block;
  padding-left: 0.8em;
  border-left: 0.2em solid #e06e73;
  color: #222222;
}
.mweb-red-graphite blockquote > :first-child {
  margin-top: 0;
}
.mweb-red-graphite blockquote > :last-child {
  margin-bottom: 0;
}
.mweb-red-graphite li {
  word-wrap: break-all;
}
.mweb-red-graphite ul {
  margin-left: 1.3em;
  padding: 0;
}
.mweb-red-graphite li::marker {
  color: #e06e73;
}
.mweb-red-graphite li > p {
  margin: 0;
}
.mweb-red-graphite ol {
  margin-left: 1.3em;
  padding: 0;
  list-style-type: decimal;
}
.mweb-red-graphite .task-list-item {
  list-style-type: none;
  text-indent: -1.5em;
}
.mweb-red-graphite .task-list-item:before {
  content: "";
  display: static;
  margin-right: 0px;
}
.mweb-red-graphite .task-list-item > input[type=checkbox] {
  text-indent: -1.7em;
}
.mweb-red-graphite img {
  max-width: 100%;
  height: auto;
}
.mweb-red-graphite u {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #e06e73 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 1em;
}
.mweb-red-graphite a {
  color: #de4c4f;
  text-decoration: none;
}
.mweb-red-graphite a:hover, .mweb-red-graphite a:focus, .mweb-red-graphite a:active {
  text-decoration: underline;
}
.mweb-red-graphite a img {
  border: none;
}
.mweb-red-graphite b,
.mweb-red-graphite strong {
  font-weight: bold;
}
.mweb-red-graphite i,
.mweb-red-graphite cite,
.mweb-red-graphite em,
.mweb-red-graphite var,
.mweb-red-graphite address,
.mweb-red-graphite dfn {
  font-style: italic;
}
.mweb-red-graphite del,
.mweb-red-graphite s {
  color: #525252;
}
.mweb-red-graphite pre,
.mweb-red-graphite xmp,
.mweb-red-graphite plaintext,
.mweb-red-graphite listing,
.mweb-red-graphite code,
.mweb-red-graphite kbd,
.mweb-red-graphite tt,
.mweb-red-graphite samp {
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.mweb-red-graphite mark {
  color: inherit;
  display: inline;
  padding: 0.2em 0.5em;
  background-color: #fcffc0;
}
.mweb-red-graphite figcaption {
  text-align: center;
}
.mweb-red-graphite table {
  color: #424242;
  border-collapse: collapse;
  background-color: white;
  border-spacing: 2px;
  font-size: 1em;
  border: 1px;
  border-spacing: 0;
}
.mweb-red-graphite th,
.mweb-red-graphite td {
  padding: 0.7em 1em;
  font-size: 0.9em;
  border: 1px solid #bfbfbf;
}
.mweb-red-graphite caption,
.mweb-red-graphite th,
.mweb-red-graphite td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.mweb-red-graphite div[id^=mweb-chart-ele] svg {
  background-color: white;
}
.mweb-red-graphite .footnotes > ol li {
  text-indent: 0;
}
.mweb-red-graphite .footnotes > ol li::before {
  float: left;
}
.mweb-red-graphite .footnotes hr {
  margin-top: 4em;
  margin-bottom: 0.5em;
}
.mweb-red-graphite code {
  display: inline;
  color: #424242;
}
.mweb-red-graphite .code-section {
  display: flex;
  border: solid 1px #bfbfbf;
  background-color: white;
}
.mweb-red-graphite section pre {
  margin: 0;
  overflow-x: auto;
}
.mweb-red-graphite section code {
  display: block;
  padding: 0.9em;
  font-size: 0.9em;
  line-height: 1.6em;
  text-wrap: nowrap;
}
.mweb-red-graphite section ul {
  flex-shrink: 0;
  counter-reset: line;
  margin: 0;
  padding: 0.9em 0 0.9em 0.9em;
  white-space: normal;
  width: fit-content;
}
.mweb-red-graphite section ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  text-wrap: nowrap;
  line-height: 1.6em;
  font-size: 0.9em;
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 0;
  list-style-type: none;
  color: #222222;
}
.mweb-red-graphite section ul > li::marker {
  content: none;
}