/*
 * PrismJS default theme
 * 这个文件只应该包含变量
 */
/*
 * Default bear theme，适用于 core/mweb-bear.scss。
 * 所有 bear 主题，只需 import 这个文件，然后修改配色方案即可。
 */
/* font */
/* container */
/*  spacing */
/* color */
/* other */
/**
 * 在 bear 的主题中，某些变量的取值和其他变量是绑定的。
 * 统一写在这里，这个文件应该在变量文件的最后被引入。
 */
/**
 * Bear 的默认样式表。通过调整各个颜色变量的取值，就可以得到不同的 bear 主题。
 * Bear 的配色方案位于 src/themes/bear-palettes 目录下。
 */
.mweb-duotone-heat {
  font-family: AvenirNext-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  color: rgb(101, 96, 101);
  background-color: rgb(251, 250, 249);
  line-height: 1.6em;
  -webkit-text-size-adjust: 100%;
  margin: 0px 0px;
  padding: 1em 1em;
  /* 代码块 */
}
.mweb-duotone-heat * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.mweb-duotone-heat > *:first-child {
  margin-top: 0 !important;
}
.mweb-duotone-heat > *:last-child {
  margin-top: 0 !important;
}
.mweb-duotone-heat p,
.mweb-duotone-heat pre,
.mweb-duotone-heat dl,
.mweb-duotone-heat form,
.mweb-duotone-heat details,
.mweb-duotone-heat dl,
.mweb-duotone-heat blockquote,
.mweb-duotone-heat table,
.mweb-duotone-heat xmp,
.mweb-duotone-heat plaintext,
.mweb-duotone-heat listing,
.mweb-duotone-heat figure {
  margin: 0.75em 0 0.45em;
}
.mweb-duotone-heat hr {
  margin: 0.75em auto;
}
.mweb-duotone-heat h1,
.mweb-duotone-heat h2,
.mweb-duotone-heat h3,
.mweb-duotone-heat h4,
.mweb-duotone-heat h5,
.mweb-duotone-heat h6 {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
  font-family: AvenirNext-Medium;
  font-weight: 600;
  line-height: 1.5em;
  color: rgb(138, 74, 169);
}
.mweb-duotone-heat h1 {
  font-size: 1.5em;
}
.mweb-duotone-heat h2 {
  font-size: 1.3em;
}
.mweb-duotone-heat h3 {
  font-size: 1.1em;
}
.mweb-duotone-heat h4 {
  font-size: 1em;
}
.mweb-duotone-heat h5 {
  font-size: 1em;
}
.mweb-duotone-heat h6 {
  font-size: 1em;
}
.mweb-duotone-heat hr {
  height: 1px;
  border: 0;
  background-color: rgb(211, 197, 211);
  border-style: inset;
  border-width: 1px;
}
.mweb-duotone-heat p {
  margin-left: 0;
  margin-right: 0;
}
.mweb-duotone-heat pre,
.mweb-duotone-heat pre[class*=language-] {
  padding: 0;
  border: 0;
}
.mweb-duotone-heat blockquote {
  display: block;
  padding-left: 0.8em;
  border-left: 0.2em solid rgb(202, 124, 208);
  color: rgb(101, 96, 101);
}
.mweb-duotone-heat blockquote > :first-child {
  margin-top: 0;
}
.mweb-duotone-heat blockquote > :last-child {
  margin-bottom: 0;
}
.mweb-duotone-heat li {
  word-wrap: break-all;
}
.mweb-duotone-heat ul {
  margin-left: 1.3em;
  padding: 0;
}
.mweb-duotone-heat li::marker {
  color: rgb(202, 124, 208);
}
.mweb-duotone-heat li > p {
  margin: 0;
}
.mweb-duotone-heat ol {
  margin-left: 1.3em;
  padding: 0;
  list-style-type: decimal;
}
.mweb-duotone-heat .task-list-item {
  list-style-type: none;
  text-indent: -1.5em;
}
.mweb-duotone-heat .task-list-item:before {
  content: "";
  display: static;
  margin-right: 0px;
}
.mweb-duotone-heat .task-list-item > input[type=checkbox] {
  text-indent: -1.7em;
}
.mweb-duotone-heat img {
  max-width: 100%;
  height: auto;
}
.mweb-duotone-heat u {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(202, 124, 208) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 1em;
}
.mweb-duotone-heat a {
  color: rgb(183, 71, 175);
  text-decoration: none;
}
.mweb-duotone-heat a:hover, .mweb-duotone-heat a:focus, .mweb-duotone-heat a:active {
  text-decoration: underline;
}
.mweb-duotone-heat a img {
  border: none;
}
.mweb-duotone-heat b,
.mweb-duotone-heat strong {
  font-weight: bold;
}
.mweb-duotone-heat i,
.mweb-duotone-heat cite,
.mweb-duotone-heat em,
.mweb-duotone-heat var,
.mweb-duotone-heat address,
.mweb-duotone-heat dfn {
  font-style: italic;
}
.mweb-duotone-heat del,
.mweb-duotone-heat s {
  color: rgb(146, 142, 147);
}
.mweb-duotone-heat pre,
.mweb-duotone-heat xmp,
.mweb-duotone-heat plaintext,
.mweb-duotone-heat listing,
.mweb-duotone-heat code,
.mweb-duotone-heat kbd,
.mweb-duotone-heat tt,
.mweb-duotone-heat samp {
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.mweb-duotone-heat mark {
  color: inherit;
  display: inline;
  padding: 0.2em 0.5em;
  background-color: rgb(242, 193, 209);
}
.mweb-duotone-heat figcaption {
  text-align: center;
}
.mweb-duotone-heat table {
  color: rgb(89, 84, 89);
  border-collapse: collapse;
  background-color: rgb(255, 253, 253);
  border-spacing: 2px;
  font-size: 1em;
  border: 1px;
  border-spacing: 0;
}
.mweb-duotone-heat th,
.mweb-duotone-heat td {
  padding: 0.7em 1em;
  font-size: 0.9em;
  border: 1px solid rgb(211, 197, 211);
}
.mweb-duotone-heat caption,
.mweb-duotone-heat th,
.mweb-duotone-heat td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.mweb-duotone-heat div[id^=mweb-chart-ele] svg {
  background-color: white;
}
.mweb-duotone-heat .footnotes > ol li {
  text-indent: 0;
}
.mweb-duotone-heat .footnotes > ol li::before {
  float: left;
}
.mweb-duotone-heat .footnotes hr {
  margin-top: 4em;
  margin-bottom: 0.5em;
}
.mweb-duotone-heat code {
  display: inline;
  color: rgb(89, 84, 89);
}
.mweb-duotone-heat .code-section {
  display: flex;
  border: solid 1px rgb(211, 197, 211);
  background-color: rgb(255, 253, 253);
}
.mweb-duotone-heat section pre {
  margin: 0;
  overflow-x: auto;
}
.mweb-duotone-heat section code {
  display: block;
  padding: 0.9em;
  font-size: 0.9em;
  line-height: 1.6em;
  text-wrap: nowrap;
}
.mweb-duotone-heat section ul {
  flex-shrink: 0;
  counter-reset: line;
  margin: 0;
  padding: 0.9em 0 0.9em 0.9em;
  white-space: normal;
  width: fit-content;
}
.mweb-duotone-heat section ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  text-wrap: nowrap;
  line-height: 1.6em;
  font-size: 0.9em;
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 0;
  list-style-type: none;
  color: rgb(101, 96, 101);
}
.mweb-duotone-heat section ul > li::marker {
  content: none;
}