/*
 * PrismJS default theme
 * 这个文件只应该包含变量
 */
/*
 * Default bear theme，适用于 core/mweb-bear.scss。
 * 所有 bear 主题，只需 import 这个文件，然后修改配色方案即可。
 */
/* font */
/* container */
/*  spacing */
/* color */
/* other */
/**
 * 在 bear 的主题中，某些变量的取值和其他变量是绑定的。
 * 统一写在这里，这个文件应该在变量文件的最后被引入。
 */
/**
 * Bear 的默认样式表。通过调整各个颜色变量的取值，就可以得到不同的 bear 主题。
 * Bear 的配色方案位于 src/themes/bear-palettes 目录下。
 */
.mweb-cobalt {
  font-family: AvenirNext-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  color: rgb(219, 240, 239);
  background-color: rgb(20, 39, 56);
  line-height: 1.6em;
  -webkit-text-size-adjust: 100%;
  margin: 0px 0px;
  padding: 1.6em 3.2em;
  /* 代码块 */
}
.mweb-cobalt * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.mweb-cobalt > *:first-child {
  margin-top: 0 !important;
}
.mweb-cobalt > *:last-child {
  margin-top: 0 !important;
}
.mweb-cobalt p,
.mweb-cobalt pre,
.mweb-cobalt dl,
.mweb-cobalt form,
.mweb-cobalt details,
.mweb-cobalt dl,
.mweb-cobalt blockquote,
.mweb-cobalt table,
.mweb-cobalt xmp,
.mweb-cobalt plaintext,
.mweb-cobalt listing,
.mweb-cobalt figure {
  margin: 0.75em 0 0.45em;
}
.mweb-cobalt hr {
  margin: 0.75em auto;
}
.mweb-cobalt h1,
.mweb-cobalt h2,
.mweb-cobalt h3,
.mweb-cobalt h4,
.mweb-cobalt h5,
.mweb-cobalt h6 {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
  font-family: AvenirNext-Medium;
  font-weight: 600;
  line-height: 1.5em;
  color: rgb(211, 200, 69);
}
.mweb-cobalt h1 {
  font-size: 1.5em;
}
.mweb-cobalt h2 {
  font-size: 1.3em;
}
.mweb-cobalt h3 {
  font-size: 1.1em;
}
.mweb-cobalt h4 {
  font-size: 1em;
}
.mweb-cobalt h5 {
  font-size: 1em;
}
.mweb-cobalt h6 {
  font-size: 1em;
}
.mweb-cobalt hr {
  height: 1px;
  border: 0;
  background-color: rgb(16, 36, 50);
  border-style: inset;
  border-width: 1px;
}
.mweb-cobalt p {
  margin-left: 0;
  margin-right: 0;
}
.mweb-cobalt pre,
.mweb-cobalt pre[class*=language-] {
  padding: 0;
  border: 0;
}
.mweb-cobalt blockquote {
  display: block;
  padding-left: 0.8em;
  border-left: 0.2em solid rgb(252, 133, 30);
  color: rgb(219, 240, 239);
}
.mweb-cobalt blockquote > :first-child {
  margin-top: 0;
}
.mweb-cobalt blockquote > :last-child {
  margin-bottom: 0;
}
.mweb-cobalt li {
  word-wrap: break-all;
}
.mweb-cobalt ul {
  margin-left: 1.3em;
  padding: 0;
}
.mweb-cobalt li::marker {
  color: rgb(252, 133, 30);
}
.mweb-cobalt li > p {
  margin: 0;
}
.mweb-cobalt ol {
  margin-left: 1.3em;
  padding: 0;
  list-style-type: decimal;
}
.mweb-cobalt .task-list-item {
  list-style-type: none;
  text-indent: -1.5em;
}
.mweb-cobalt .task-list-item:before {
  content: "";
  display: static;
  margin-right: 0px;
}
.mweb-cobalt .task-list-item > input[type=checkbox] {
  text-indent: -1.7em;
}
.mweb-cobalt img {
  max-width: 100%;
  height: auto;
}
.mweb-cobalt u {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(252, 133, 30) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 1em;
}
.mweb-cobalt a {
  color: rgb(54, 201, 155);
  text-decoration: none;
}
.mweb-cobalt a:hover, .mweb-cobalt a:focus, .mweb-cobalt a:active {
  text-decoration: underline;
}
.mweb-cobalt a img {
  border: none;
}
.mweb-cobalt b,
.mweb-cobalt strong {
  font-weight: bold;
}
.mweb-cobalt i,
.mweb-cobalt cite,
.mweb-cobalt em,
.mweb-cobalt var,
.mweb-cobalt address,
.mweb-cobalt dfn {
  font-style: italic;
}
.mweb-cobalt del,
.mweb-cobalt s {
  color: rgb(172, 191, 195);
}
.mweb-cobalt pre,
.mweb-cobalt xmp,
.mweb-cobalt plaintext,
.mweb-cobalt listing,
.mweb-cobalt code,
.mweb-cobalt kbd,
.mweb-cobalt tt,
.mweb-cobalt samp {
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.mweb-cobalt mark {
  color: inherit;
  display: inline;
  padding: 0.2em 0.5em;
  background-color: rgb(61, 0, 77);
}
.mweb-cobalt figcaption {
  text-align: center;
}
.mweb-cobalt table {
  color: rgb(225, 239, 243);
  border-collapse: collapse;
  background-color: rgb(21, 45, 62);
  border-spacing: 2px;
  font-size: 1em;
  border: 1px;
  border-spacing: 0;
}
.mweb-cobalt th,
.mweb-cobalt td {
  padding: 0.7em 1em;
  font-size: 0.9em;
  border: 1px solid rgb(16, 36, 50);
}
.mweb-cobalt caption,
.mweb-cobalt th,
.mweb-cobalt td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.mweb-cobalt div[id^=mweb-chart-ele] svg {
  background-color: white;
}
.mweb-cobalt .footnotes > ol li {
  text-indent: 0;
}
.mweb-cobalt .footnotes > ol li::before {
  float: left;
}
.mweb-cobalt .footnotes hr {
  margin-top: 4em;
  margin-bottom: 0.5em;
}
.mweb-cobalt code {
  display: inline;
  color: rgb(225, 239, 243);
}
.mweb-cobalt .code-section {
  display: flex;
  border: solid 1px rgb(16, 36, 50);
  background-color: rgb(21, 45, 62);
}
.mweb-cobalt section pre {
  margin: 0;
  overflow-x: auto;
}
.mweb-cobalt section code {
  display: block;
  padding: 0.9em;
  font-size: 0.9em;
  line-height: 1.6em;
  text-wrap: nowrap;
}
.mweb-cobalt section ul {
  flex-shrink: 0;
  counter-reset: line;
  margin: 0;
  padding: 0.9em 0 0.9em 0.9em;
  white-space: normal;
  width: fit-content;
}
.mweb-cobalt section ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  text-wrap: nowrap;
  line-height: 1.6em;
  font-size: 0.9em;
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 0;
  list-style-type: none;
  color: rgb(219, 240, 239);
}
.mweb-cobalt section ul > li::marker {
  content: none;
}