/*
 * Default theme，适用于 core/mweb-base.scss。
 * 取值参考 chrome 默认样式：
 * https://chromium.googlesource.com/chromium/blink/+/refs/heads/main/Source/core/css/html.css
 * 所有 import "core/mweb-base.scss" 的文件都应该同时导入此变量文件。
 */
/* color */
/* font & line */
/* boxing */
/* elememts */
/*
 * 基准样式，相当于 reset.css，使主题在不同平台下有统一的表现。
 * 各个属性的默认值为 chrome 的默认样式，见 variables/default.scss。
 */
/**
 * MWeb 包裹 markdown 的容器是 .note-to-mp
 * Typora 中是 #write
 */
.note-to-mp {
  line-height: 1.6em;
  -webkit-text-size-adjust: 100%;
  margin: 0px 0px;
  padding: 1rem 1rem;
  font-family: PingFang SC, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  color: black;
  background-color: white;
  /* spacing */
  /* block */
  /* list */
  /* inline */
  /* table */
  /* svg */
}
.note-to-mp * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.note-to-mp > *:first-child {
  margin-top: 0 !important;
}
.note-to-mp > *:last-child {
  margin-top: 0 !important;
}
.note-to-mp p, .note-to-mp details, .note-to-mp dl, .note-to-mp ol, .note-to-mp ul, .note-to-mp pre, .note-to-mp xmp, .note-to-mp plaintext, .note-to-mp listing, .note-to-mp blockquote, .note-to-mp table, .note-to-mp figure, .note-to-mp hr {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.note-to-mp h1 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
}
.note-to-mp h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
}
.note-to-mp h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
}
.note-to-mp h4 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
}
.note-to-mp h5 {
  font-size: 0.83em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
}
.note-to-mp h6 {
  font-size: 0.67em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
}
.note-to-mp p {
  margin-left: 0;
  margin-right: 0;
}
.note-to-mp pre, .note-to-mp xmp, .note-to-mp plaintext, .note-to-mp listing {
  font-family: monospace, Menlo-Regular, Menlo, Monaco, Consolas, "Courier New";
}
.note-to-mp blockquote > :first-child {
  margin-top: 0;
}
.note-to-mp blockquote > :last-child {
  margin-bottom: 0;
}
.note-to-mp hr {
  border-style: inset;
  border-width: 1px;
}
.note-to-mp img {
  max-width: 100%;
  height: auto;
}
.note-to-mp li {
  word-wrap: break-all;
}
.note-to-mp li + li {
  margin-top: 0.25em;
}
.note-to-mp ul ul, .note-to-mp ol ul, .note-to-mp ul ol, .note-to-mp ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.note-to-mp .task-list-item {
  list-style-type: none;
}
.note-to-mp a {
  color: -webkit-link;
  text-decoration: underline;
}
.note-to-mp a img {
  border: none;
}
.note-to-mp b, .note-to-mp strong {
  font-weight: bold;
}
.note-to-mp i, .note-to-mp cite, .note-to-mp em, .note-to-mp var, .note-to-mp address, .note-to-mp dfn {
  font-style: italic;
}
.note-to-mp code, .note-to-mp kbd, .note-to-mp tt, .note-to-mp samp {
  font-family: monospace, Menlo-Regular, Menlo, Monaco, Consolas, "Courier New";
}
.note-to-mp mark {
  padding: 0.2em 0;
  background-color: yellow;
}
.note-to-mp del, .note-to-mp s {
  color: inherit;
}
.note-to-mp table {
  color: black;
  border-collapse: collapse;
  background-color: white;
  border-spacing: 2px;
  font-size: 1em;
}
.note-to-mp th, .note-to-mp td {
  border-color: gray;
  border-width: 1px;
  border-style: solid;
}
.note-to-mp th {
  padding: 4px 8px;
  font-size: 1em;
  font-weight: bold;
}
.note-to-mp td {
  padding: 4px 8px;
  font-size: 1em;
  font-weight: normal;
}
.note-to-mp div[id^=mweb-chart-ele] svg {
  background-color: white;
}

.note-to-mp {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  padding: 2em;
  word-break: break-word;
  line-height: 1.8;
  font-weight: 400;
  font-size: 16px;
  word-spacing: 2px;
  letter-spacing: 2px;
  overflow-x: hidden;
  color: #3e3e3e;
  background-image: linear-gradient(90deg, rgba(50, 0, 0, 0.05) 3%, rgba(0, 0, 0, 0) 3%), linear-gradient(360deg, rgba(50, 0, 0, 0.05) 3%, rgba(0, 0, 0, 0) 3%);
  background-size: 20px 20px;
  background-position: center center;
  /* 代码块特殊处理 */
}
.note-to-mp h1,
.note-to-mp h2,
.note-to-mp h3,
.note-to-mp h4,
.note-to-mp h5,
.note-to-mp h6 {
  line-height: 1.5;
  margin-top: 35px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-weight: 600;
}
.note-to-mp h1 {
  font-size: 30px;
  margin-bottom: 5px;
}
.note-to-mp h2 {
  padding-bottom: 12px;
  font-size: 24px;
  border-bottom: 1px solid #ececec;
}
.note-to-mp h3 {
  font-size: 18px;
  padding-bottom: 0;
}
.note-to-mp h4 {
  font-size: 1.2em;
  border-bottom: 2px solid rgb(239, 112, 96);
  word-spacing: 0px !important;
  letter-spacing: 0px !important;
  font-size: inherit;
  line-height: inherit;
  display: block;
  font-weight: normal;
  background: rgb(239, 112, 96);
  color: rgb(255, 255, 255);
  padding: 10px 10px 10px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  margin-right: 3px;
}
.note-to-mp h5 {
  font-size: 15px;
}
.note-to-mp h6 {
  margin-top: 5px;
}
.note-to-mp p {
  line-height: inherit;
  margin-top: 22px;
  margin-bottom: 22px;
}
.note-to-mp img {
  max-width: 100%;
}
.note-to-mp hr {
  border-top: 1px solid #ddd;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-top: 32px;
  margin-bottom: 32px;
}
.note-to-mp a {
  text-decoration: none;
  color: #0269c8;
  border-bottom: 1px solid #d1e9ff;
}
.note-to-mp a:hover,
.note-to-mp a:active {
  color: #275b8c;
}
.note-to-mp table {
  display: inline-block !important;
  font-size: 12px;
  width: auto;
  max-width: 100%;
  overflow: auto;
  border: solid 1px #f6f6f6;
}
.note-to-mp thead {
  background: #f6f6f6;
  color: #000;
  text-align: left;
}
.note-to-mp tr:nth-child(2n) {
  background-color: #fcfcfc;
}
.note-to-mp th,
.note-to-mp td {
  padding: 12px 7px;
  line-height: 24px;
}
.note-to-mp td {
  min-width: 120px;
}
.note-to-mp blockquote {
  color: #666;
  padding: 1px 23px;
  margin: 22px 0;
  border-left: 4px solid #cbcbcb;
  background-color: #f8f8f8;
}
.note-to-mp blockquote::after {
  display: block;
  content: "";
}
.note-to-mp blockquote > p {
  margin: 10px 0;
}
.note-to-mp ol,
.note-to-mp ul {
  padding-left: 28px;
}
.note-to-mp ol li,
.note-to-mp ul li {
  margin-bottom: 0;
  list-style: inherit;
}
.note-to-mp ol li .task-list-item,
.note-to-mp ul li .task-list-item {
  list-style: none;
}
.note-to-mp .task-list-item ul,
.note-to-mp .task-list-item ol {
  margin-top: 0;
}
.note-to-mp ol ul,
.note-to-mp ol ol,
.note-to-mp ul ul,
.note-to-mp ul ol {
  margin-top: 3px;
}
.note-to-mp ol li {
  padding-left: 6px;
}
@media (max-width: 720px) {
  .note-to-mp h1 {
    font-size: 24px;
  }
  .note-to-mp h2 {
    font-size: 20px;
  }
  .note-to-mp h3 {
    font-size: 18px;
  }
}
.note-to-mp .footnotes hr {
  margin-top: 4em;
  margin-bottom: 0.5em;
}
.note-to-mp code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  word-break: break-word;
  border-radius: 2px;
  overflow-x: auto;
  background-color: #fff5f5;
  color: #ff502c;
  font-size: 0.87em;
  padding: 0.065em 0.4em;
}
.note-to-mp .code-section {
  display: flex;
  overflow: auto;
  background-color: #fff5f5;
}
.note-to-mp .code-section code {
  font-size: 1em;
  line-height: 1.75em;
  color: #ff502c;
  background-color: #fff5f5;
  padding: 0 !important;
  margin: 0 !important;
  text-wrap: nowrap;
  display: block;
}
.note-to-mp .code-section pre {
  display: block;
  overflow: auto;
  padding: 1em;
  margin: 0;
}
.note-to-mp .code-section ul {
  flex-shrink: 0;
  counter-reset: line;
  margin: 0;
  padding: 1em 0 1em 1em;
  white-space: normal;
  width: fit-content;
}
.note-to-mp .code-section ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  line-height: 1.75em;
  font-size: 1em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 0;
  list-style-type: none;
  color: #ff502c;
  text-wrap: nowrap;
}
.note-to-mp .code-section ul > li::marker {
  content: none;
}