/*
 * PrismJS default theme
 * 这个文件只应该包含变量
 */
/*
 * Default bear theme，适用于 core/mweb-bear.scss。
 * 所有 bear 主题，只需 import 这个文件，然后修改配色方案即可。
 */
/* font */
/* container */
/*  spacing */
/* color */
/* other */
/**
 * 在 bear 的主题中，某些变量的取值和其他变量是绑定的。
 * 统一写在这里，这个文件应该在变量文件的最后被引入。
 */
/**
 * Bear 的默认样式表。通过调整各个颜色变量的取值，就可以得到不同的 bear 主题。
 * Bear 的配色方案位于 src/themes/bear-palettes 目录下。
 */
.mweb-duotone-light {
  font-family: AvenirNext-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  color: rgb(75, 53, 8);
  background-color: rgb(250, 248, 245);
  line-height: 1.6em;
  -webkit-text-size-adjust: 100%;
  margin: 0px 0px;
  padding: 1em 1em;
  /* 代码块 */
}
.mweb-duotone-light * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.mweb-duotone-light > *:first-child {
  margin-top: 0 !important;
}
.mweb-duotone-light > *:last-child {
  margin-top: 0 !important;
}
.mweb-duotone-light p,
.mweb-duotone-light pre,
.mweb-duotone-light dl,
.mweb-duotone-light form,
.mweb-duotone-light details,
.mweb-duotone-light dl,
.mweb-duotone-light blockquote,
.mweb-duotone-light table,
.mweb-duotone-light xmp,
.mweb-duotone-light plaintext,
.mweb-duotone-light listing,
.mweb-duotone-light figure {
  margin: 0.75em 0 0.45em;
}
.mweb-duotone-light hr {
  margin: 0.75em auto;
}
.mweb-duotone-light h1,
.mweb-duotone-light h2,
.mweb-duotone-light h3,
.mweb-duotone-light h4,
.mweb-duotone-light h5,
.mweb-duotone-light h6 {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
  font-family: AvenirNext-Medium;
  font-weight: 600;
  line-height: 1.5em;
  color: rgb(99, 90, 71);
}
.mweb-duotone-light h1 {
  font-size: 1.5em;
}
.mweb-duotone-light h2 {
  font-size: 1.3em;
}
.mweb-duotone-light h3 {
  font-size: 1.1em;
}
.mweb-duotone-light h4 {
  font-size: 1em;
}
.mweb-duotone-light h5 {
  font-size: 1em;
}
.mweb-duotone-light h6 {
  font-size: 1em;
}
.mweb-duotone-light hr {
  height: 1px;
  border: 0;
  background-color: rgba(182, 173, 155, 0.3);
  border-style: inset;
  border-width: 1px;
}
.mweb-duotone-light p {
  margin-left: 0;
  margin-right: 0;
}
.mweb-duotone-light pre,
.mweb-duotone-light pre[class*=language-] {
  padding: 0;
  border: 0;
}
.mweb-duotone-light blockquote {
  display: block;
  padding-left: 0.8em;
  border-left: 0.2em solid rgb(115, 144, 201);
  color: rgb(75, 53, 8);
}
.mweb-duotone-light blockquote > :first-child {
  margin-top: 0;
}
.mweb-duotone-light blockquote > :last-child {
  margin-bottom: 0;
}
.mweb-duotone-light li {
  word-wrap: break-all;
}
.mweb-duotone-light ul {
  margin-left: 1.3em;
  padding: 0;
}
.mweb-duotone-light li::marker {
  color: rgb(115, 144, 201);
}
.mweb-duotone-light li > p {
  margin: 0;
}
.mweb-duotone-light ol {
  margin-left: 1.3em;
  padding: 0;
  list-style-type: decimal;
}
.mweb-duotone-light .task-list-item {
  list-style-type: none;
  text-indent: -1.5em;
}
.mweb-duotone-light .task-list-item:before {
  content: "";
  display: static;
  margin-right: 0px;
}
.mweb-duotone-light .task-list-item > input[type=checkbox] {
  text-indent: -1.7em;
}
.mweb-duotone-light img {
  max-width: 100%;
  height: auto;
}
.mweb-duotone-light u {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(115, 144, 201) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 1em;
}
.mweb-duotone-light a {
  color: rgb(11, 53, 135);
  text-decoration: none;
}
.mweb-duotone-light a:hover, .mweb-duotone-light a:focus, .mweb-duotone-light a:active {
  text-decoration: underline;
}
.mweb-duotone-light a img {
  border: none;
}
.mweb-duotone-light b,
.mweb-duotone-light strong {
  font-weight: bold;
}
.mweb-duotone-light i,
.mweb-duotone-light cite,
.mweb-duotone-light em,
.mweb-duotone-light var,
.mweb-duotone-light address,
.mweb-duotone-light dfn {
  font-style: italic;
}
.mweb-duotone-light del,
.mweb-duotone-light s {
  color: rgb(136, 102, 42);
}
.mweb-duotone-light pre,
.mweb-duotone-light xmp,
.mweb-duotone-light plaintext,
.mweb-duotone-light listing,
.mweb-duotone-light code,
.mweb-duotone-light kbd,
.mweb-duotone-light tt,
.mweb-duotone-light samp {
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.mweb-duotone-light mark {
  color: inherit;
  display: inline;
  padding: 0.2em 0.5em;
  background-color: rgb(211, 255, 164);
}
.mweb-duotone-light figcaption {
  text-align: center;
}
.mweb-duotone-light table {
  color: rgb(66, 66, 66);
  border-collapse: collapse;
  background-color: rgb(255, 252, 249);
  border-spacing: 2px;
  font-size: 1em;
  border: 1px;
  border-spacing: 0;
}
.mweb-duotone-light th,
.mweb-duotone-light td {
  padding: 0.7em 1em;
  font-size: 0.9em;
  border: 1px solid rgba(182, 173, 155, 0.3);
}
.mweb-duotone-light caption,
.mweb-duotone-light th,
.mweb-duotone-light td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.mweb-duotone-light div[id^=mweb-chart-ele] svg {
  background-color: white;
}
.mweb-duotone-light .footnotes > ol li {
  text-indent: 0;
}
.mweb-duotone-light .footnotes > ol li::before {
  float: left;
}
.mweb-duotone-light .footnotes hr {
  margin-top: 4em;
  margin-bottom: 0.5em;
}
.mweb-duotone-light code {
  display: inline;
  color: rgb(66, 66, 66);
}
.mweb-duotone-light .code-section {
  display: flex;
  border: solid 1px rgba(182, 173, 155, 0.3);
  background-color: rgb(255, 252, 249);
}
.mweb-duotone-light section pre {
  margin: 0;
  overflow-x: auto;
}
.mweb-duotone-light section code {
  display: block;
  padding: 0.9em;
  font-size: 0.9em;
  line-height: 1.6em;
  text-wrap: nowrap;
}
.mweb-duotone-light section ul {
  flex-shrink: 0;
  counter-reset: line;
  margin: 0;
  padding: 0.9em 0 0.9em 0.9em;
  white-space: normal;
  width: fit-content;
}
.mweb-duotone-light section ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  text-wrap: nowrap;
  line-height: 1.6em;
  font-size: 0.9em;
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 0;
  list-style-type: none;
  color: rgb(75, 53, 8);
}
.mweb-duotone-light section ul > li::marker {
  content: none;
}