/*
 * PrismJS default theme
 * 这个文件只应该包含变量
 */
/*
 * Default bear theme，适用于 core/mweb-bear.scss。
 * 所有 bear 主题，只需 import 这个文件，然后修改配色方案即可。
 */
/* font */
/* container */
/*  spacing */
/* color */
/* other */
/**
 * 在 bear 的主题中，某些变量的取值和其他变量是绑定的。
 * 统一写在这里，这个文件应该在变量文件的最后被引入。
 */
/**
 * Bear 的默认样式表。通过调整各个颜色变量的取值，就可以得到不同的 bear 主题。
 * Bear 的配色方案位于 src/themes/bear-palettes 目录下。
 */
.mweb-gandalf {
  font-family: AvenirNext-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  color: rgb(69, 82, 96);
  background-color: rgb(240, 240, 240);
  line-height: 1.6em;
  -webkit-text-size-adjust: 100%;
  margin: 0px 0px;
  padding: 1.6em 3.2em;
  /* 代码块 */
}
.mweb-gandalf * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.mweb-gandalf > *:first-child {
  margin-top: 0 !important;
}
.mweb-gandalf > *:last-child {
  margin-top: 0 !important;
}
.mweb-gandalf p, .mweb-gandalf pre, .mweb-gandalf dl, .mweb-gandalf form, .mweb-gandalf details, .mweb-gandalf dl, .mweb-gandalf blockquote, .mweb-gandalf table, .mweb-gandalf xmp, .mweb-gandalf plaintext, .mweb-gandalf listing, .mweb-gandalf figure {
  margin: 0.75em 0 0.45em;
}
.mweb-gandalf hr {
  margin: 0.75em auto;
}
.mweb-gandalf h1, .mweb-gandalf h2, .mweb-gandalf h3, .mweb-gandalf h4, .mweb-gandalf h5, .mweb-gandalf h6 {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
  font-family: AvenirNext-Medium;
  font-weight: 600;
  line-height: 1.5em;
  color: rgb(61, 81, 109);
}
.mweb-gandalf h1 {
  font-size: 1.5em;
}
.mweb-gandalf h2 {
  font-size: 1.3em;
}
.mweb-gandalf h3 {
  font-size: 1.1em;
}
.mweb-gandalf h4 {
  font-size: 1em;
}
.mweb-gandalf h5 {
  font-size: 1em;
}
.mweb-gandalf h6 {
  font-size: 1em;
}
.mweb-gandalf hr {
  height: 1px;
  border: 0;
  background-color: rgb(200, 205, 218);
  border-style: inset;
  border-width: 1px;
}
.mweb-gandalf p {
  margin-left: 0;
  margin-right: 0;
}
.mweb-gandalf pre, .mweb-gandalf pre[class*=language-] {
  padding: 0;
  border: 0;
}
.mweb-gandalf blockquote {
  display: block;
  padding-left: 0.8em;
  border-left: 0.2em solid rgb(160, 76, 107);
  color: rgb(69, 82, 96);
}
.mweb-gandalf blockquote > :first-child {
  margin-top: 0;
}
.mweb-gandalf blockquote > :last-child {
  margin-bottom: 0;
}
.mweb-gandalf li {
  word-wrap: break-all;
}
.mweb-gandalf ul {
  margin-left: 1.3em;
  padding: 0;
}
.mweb-gandalf li::marker {
  color: rgb(160, 76, 107);
}
.mweb-gandalf li > p {
  margin: 0;
}
.mweb-gandalf ol {
  margin-left: 1.3em;
  padding: 0;
  list-style-type: decimal;
}
.mweb-gandalf .task-list-item {
  list-style-type: none;
  text-indent: -1.5em;
}
.mweb-gandalf .task-list-item:before {
  content: "";
  display: static;
  margin-right: 0px;
}
.mweb-gandalf .task-list-item > input[type=checkbox] {
  text-indent: -1.7em;
}
.mweb-gandalf img {
  max-width: 100%;
  height: auto;
}
.mweb-gandalf u {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(160, 76, 107) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 1em;
}
.mweb-gandalf a {
  color: rgb(128, 57, 75);
  text-decoration: none;
}
.mweb-gandalf a:hover, .mweb-gandalf a:focus, .mweb-gandalf a:active {
  text-decoration: underline;
}
.mweb-gandalf a img {
  border: none;
}
.mweb-gandalf b, .mweb-gandalf strong {
  font-weight: bold;
}
.mweb-gandalf i, .mweb-gandalf cite, .mweb-gandalf em, .mweb-gandalf var, .mweb-gandalf address, .mweb-gandalf dfn {
  font-style: italic;
}
.mweb-gandalf del, .mweb-gandalf s {
  color: rgba(69, 82, 96, 0.7);
}
.mweb-gandalf pre, .mweb-gandalf xmp, .mweb-gandalf plaintext, .mweb-gandalf listing, .mweb-gandalf code, .mweb-gandalf kbd, .mweb-gandalf tt, .mweb-gandalf samp {
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.mweb-gandalf mark {
  color: inherit;
  display: inline;
  padding: 0.2em 0.5em;
  background-color: rgb(211, 255, 164);
}
.mweb-gandalf figcaption {
  text-align: center;
}
.mweb-gandalf table {
  color: rgb(62, 74, 98);
  border-collapse: collapse;
  background-color: rgb(248, 247, 249);
  border-spacing: 2px;
  font-size: 1em;
  border: 1px;
  border-spacing: 0;
}
.mweb-gandalf th, .mweb-gandalf td {
  padding: 0.7em 1em;
  font-size: 0.9em;
  border: 1px solid rgb(200, 205, 218);
}
.mweb-gandalf caption, .mweb-gandalf th, .mweb-gandalf td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.mweb-gandalf div[id^=mweb-chart-ele] svg {
  background-color: white;
}
.mweb-gandalf .footnotes > ol li {
  text-indent: 0;
}
.mweb-gandalf .footnotes > ol li::before {
  float: left;
}
.mweb-gandalf .footnotes hr {
  margin-top: 4em;
  margin-bottom: 0.5em;
}
.mweb-gandalf code {
  display: inline;
  color: rgb(62, 74, 98);
}
.mweb-gandalf pre code {
  display: block;
  padding: 0.9em;
  font-size: 0.9em;
  line-height: 1.6em;
  overflow-x: auto;
  text-wrap: nowrap;
}
.mweb-gandalf .code-section {
  display: flex;
  overflow: auto;
  border: solid 1px rgb(200, 205, 218);
  background-color: rgb(248, 247, 249);
}
.mweb-gandalf section pre {
  margin: 0;
}
.mweb-gandalf section ul {
  counter-reset: line;
  margin: 0;
  padding: 0.9em 0 0.9em 0.9em;
  white-space: normal;
  width: fit-content;
}
.mweb-gandalf section ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  line-height: 1.6em;
  font-size: 0.9em;
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 0;
  list-style-type: none;
  color: rgb(69, 82, 96);
}
.mweb-gandalf section ul > li::marker {
  content: none;
}