/*
 * PrismJS default theme
 * 这个文件只应该包含变量
 */
/*
 * Default bear theme，适用于 core/mweb-bear.scss。
 * 所有 bear 主题，只需 import 这个文件，然后修改配色方案即可。
 */
/* font */
/* container */
/*  spacing */
/* color */
/* other */
/**
 * 在 bear 的主题中，某些变量的取值和其他变量是绑定的。
 * 统一写在这里，这个文件应该在变量文件的最后被引入。
 */
/**
 * Bear 的默认样式表。通过调整各个颜色变量的取值，就可以得到不同的 bear 主题。
 * Bear 的配色方案位于 src/themes/bear-palettes 目录下。
 */
.mweb-dracula {
  font-family: AvenirNext-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(53, 56, 70);
  line-height: 1.6em;
  -webkit-text-size-adjust: 100%;
  margin: 0px 0px;
  padding: 1.6em 3.2em;
  /* 代码块 */
}
.mweb-dracula * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.mweb-dracula > *:first-child {
  margin-top: 0 !important;
}
.mweb-dracula > *:last-child {
  margin-top: 0 !important;
}
.mweb-dracula p, .mweb-dracula pre, .mweb-dracula dl, .mweb-dracula form, .mweb-dracula details, .mweb-dracula dl, .mweb-dracula blockquote, .mweb-dracula table, .mweb-dracula xmp, .mweb-dracula plaintext, .mweb-dracula listing, .mweb-dracula figure {
  margin: 0.75em 0 0.45em;
}
.mweb-dracula hr {
  margin: 0.75em auto;
}
.mweb-dracula h1, .mweb-dracula h2, .mweb-dracula h3, .mweb-dracula h4, .mweb-dracula h5, .mweb-dracula h6 {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
  font-family: AvenirNext-Medium;
  font-weight: 600;
  line-height: 1.5em;
  color: rgb(80, 250, 123);
}
.mweb-dracula h1 {
  font-size: 1.5em;
}
.mweb-dracula h2 {
  font-size: 1.3em;
}
.mweb-dracula h3 {
  font-size: 1.1em;
}
.mweb-dracula h4 {
  font-size: 1em;
}
.mweb-dracula h5 {
  font-size: 1em;
}
.mweb-dracula h6 {
  font-size: 1em;
}
.mweb-dracula hr {
  height: 1px;
  border: 0;
  background-color: rgba(187, 145, 248, 0.4);
  border-style: inset;
  border-width: 1px;
}
.mweb-dracula p {
  margin-left: 0;
  margin-right: 0;
}
.mweb-dracula pre, .mweb-dracula pre[class*=language-] {
  padding: 0;
  border: 0;
}
.mweb-dracula blockquote {
  display: block;
  padding-left: 0.8em;
  border-left: 0.2em solid rgb(205, 174, 249);
  color: rgb(255, 255, 255);
}
.mweb-dracula blockquote > :first-child {
  margin-top: 0;
}
.mweb-dracula blockquote > :last-child {
  margin-bottom: 0;
}
.mweb-dracula li {
  word-wrap: break-all;
}
.mweb-dracula ul {
  margin-left: 1.3em;
  padding: 0;
}
.mweb-dracula li::marker {
  color: rgb(205, 174, 249);
}
.mweb-dracula li > p {
  margin: 0;
}
.mweb-dracula ol {
  margin-left: 1.3em;
  padding: 0;
  list-style-type: decimal;
}
.mweb-dracula .task-list-item {
  list-style-type: none;
  text-indent: -1.5em;
}
.mweb-dracula .task-list-item:before {
  content: "";
  display: static;
  margin-right: 0px;
}
.mweb-dracula .task-list-item > input[type=checkbox] {
  text-indent: -1.7em;
}
.mweb-dracula img {
  max-width: 100%;
  height: auto;
}
.mweb-dracula u {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(205, 174, 249) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 1em;
}
.mweb-dracula a {
  color: rgb(139, 233, 253);
  text-decoration: none;
}
.mweb-dracula a:hover, .mweb-dracula a:focus, .mweb-dracula a:active {
  text-decoration: underline;
}
.mweb-dracula a img {
  border: none;
}
.mweb-dracula b, .mweb-dracula strong {
  font-weight: bold;
}
.mweb-dracula i, .mweb-dracula cite, .mweb-dracula em, .mweb-dracula var, .mweb-dracula address, .mweb-dracula dfn {
  font-style: italic;
}
.mweb-dracula del, .mweb-dracula s {
  color: rgb(178, 184, 163);
}
.mweb-dracula pre, .mweb-dracula xmp, .mweb-dracula plaintext, .mweb-dracula listing, .mweb-dracula code, .mweb-dracula kbd, .mweb-dracula tt, .mweb-dracula samp {
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.mweb-dracula mark {
  color: inherit;
  display: inline;
  padding: 0.2em 0.5em;
  background-color: rgb(95, 99, 117);
}
.mweb-dracula figcaption {
  text-align: center;
}
.mweb-dracula table {
  color: rgb(249, 249, 245);
  border-collapse: collapse;
  background-color: rgb(31, 32, 42);
  border-spacing: 2px;
  font-size: 1em;
  border: 1px;
  border-spacing: 0;
}
.mweb-dracula th, .mweb-dracula td {
  padding: 0.7em 1em;
  font-size: 0.9em;
  border: 1px solid rgba(187, 145, 248, 0.4);
}
.mweb-dracula caption, .mweb-dracula th, .mweb-dracula td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.mweb-dracula div[id^=mweb-chart-ele] svg {
  background-color: white;
}
.mweb-dracula .footnotes > ol li {
  text-indent: 0;
}
.mweb-dracula .footnotes > ol li::before {
  float: left;
}
.mweb-dracula .footnotes hr {
  margin-top: 4em;
  margin-bottom: 0.5em;
}
.mweb-dracula code {
  display: inline;
  color: rgb(249, 249, 245);
}
.mweb-dracula pre code {
  display: block;
  padding: 0.9em;
  font-size: 0.9em;
  line-height: 1.6em;
  overflow-x: auto;
  text-wrap: nowrap;
}
.mweb-dracula .code-section {
  display: flex;
  overflow: auto;
  border: solid 1px rgba(187, 145, 248, 0.4);
  background-color: rgb(31, 32, 42);
}
.mweb-dracula section pre {
  margin: 0;
}
.mweb-dracula section ul {
  counter-reset: line;
  margin: 0;
  padding: 0.9em 0 0.9em 0.9em;
  white-space: normal;
  width: fit-content;
}
.mweb-dracula section ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  line-height: 1.6em;
  font-size: 0.9em;
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 0;
  list-style-type: none;
  color: rgb(255, 255, 255);
}
.mweb-dracula section ul > li::marker {
  content: none;
}