.mweb-smartblue {
  color: #595959;
  font-size: 15px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background-image: linear-gradient(90deg, rgba(60, 10, 30, 0.04) 3%, rgba(0, 0, 0, 0) 3%), linear-gradient(360deg, rgba(60, 10, 30, 0.04) 3%, rgba(0, 0, 0, 0) 3%);
  background-size: 20px 20px;
  background-position: center center;
  padding: 1em;
  /* 段落 */
  /* 段落间距控制 */
  /* 标题的通用设置 */
  /* 一级标题 */
  /* 二级标题 */
  /* 三级标题 */
  /* 无序列表 */
  /* 无序列表内容 */
  /* 已加载图片 */
  /* 引用 */
  /* 引用文字 */
  /* 链接 */
  /* 加粗 */
  /* 加粗斜体 */
  /* 分隔线 */
  /* 表格 */
  /* 代码 */
}
.mweb-smartblue p {
  color: #595959;
  font-size: 15px;
  line-height: 2;
  font-weight: 400;
}
.mweb-smartblue p + p {
  margin-top: 16px;
}
.mweb-smartblue h1,
.mweb-smartblue h2,
.mweb-smartblue h3,
.mweb-smartblue h4,
.mweb-smartblue h5,
.mweb-smartblue h6 {
  padding: 30px 0;
  margin: 0;
  color: #135ce0;
  font-weight: 600;
}
.mweb-smartblue h1 {
  position: relative;
  text-align: center;
  font-size: 22px;
  margin: 50px 0;
}
.mweb-smartblue h2 {
  position: relative;
  font-size: 20px;
  border-left: 4px solid;
  padding: 0 0 0 10px;
  margin: 30px 0;
}
.mweb-smartblue h3 {
  font-size: 16px;
}
.mweb-smartblue ul {
  list-style: disc outside;
  margin-left: 2em;
  margin-top: 1em;
}
.mweb-smartblue li {
  line-height: 2;
  color: #595959;
  margin-bottom: 0;
  list-style: inherit;
}
.mweb-smartblue img {
  max-width: 100%;
}
.mweb-smartblue img.loaded {
  margin: 0 auto;
  display: block;
}
.mweb-smartblue blockquote {
  background: #fff9f9;
  margin: 2em 0;
  padding: 2px 20px;
  border-left: 4px solid #b2aec5;
}
.mweb-smartblue blockquote p {
  color: #666;
  line-height: 2;
}
.mweb-smartblue a {
  color: #036aca;
  border-bottom: 1px solid rgba(3, 106, 202, 0.8);
  font-weight: 400;
  text-decoration: none;
}
.mweb-smartblue strong {
  color: #036aca;
}
.mweb-smartblue em strong {
  color: #036aca;
}
.mweb-smartblue hr {
  border-top: 1px solid #135ce0;
}
.mweb-smartblue table {
  border-collapse: collapse;
  margin: 1rem 0;
  overflow-x: auto;
}
.mweb-smartblue table th,
.mweb-smartblue table td {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}
.mweb-smartblue table tr {
  border-top: 1px solid #dfe2e5;
}
.mweb-smartblue table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
.mweb-smartblue .footnotes hr {
  margin-bottom: 0.5em;
}
.mweb-smartblue pre {
  overflow: auto;
}
.mweb-smartblue pre,
.mweb-smartblue code {
  overflow: auto;
  position: relative;
  line-height: 1.75;
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
}
.mweb-smartblue pre > code {
  /* font-size: 12px; */
  padding: 15px 12px;
  margin: 0;
  word-break: normal;
  display: block;
  overflow-x: auto;
  color: #333;
  background: #f8f8f8;
}
.mweb-smartblue code {
  word-break: break-word;
  border-radius: 2px;
  overflow-x: auto;
  background-color: #fff5f5;
  color: #ff502c;
  font-size: 0.87em;
  padding: 0.065em 0.4em;
}
.mweb-smartblue .code-section {
  display: flex;
  background: #f8f8f8;
}
.mweb-smartblue section pre {
  margin: 0;
  display: block;
  padding: 1em;
  overflow-x: auto;
}
.mweb-smartblue section pre code {
  border: none;
  font-size: 1em;
  line-height: 1.8em;
  padding: 0 !important;
  margin: 0 !important;
  text-wrap: nowrap;
}
.mweb-smartblue section ul {
  flex-shrink: 0;
  counter-reset: line;
  margin: 0;
  padding: 1em 0 1em 1em;
  white-space: normal;
  width: fit-content;
}
.mweb-smartblue section ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  line-height: 1.8em;
  font-size: 1em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 0;
  list-style-type: none;
  color: #ff502c;
  text-wrap: nowrap;
}
.mweb-smartblue section ul > li::marker {
  content: none;
}