/*
 * PrismJS default theme
 * 这个文件只应该包含变量
 */
/*
 * Default bear theme，适用于 core/mweb-bear.scss。
 * 所有 bear 主题，只需 import 这个文件，然后修改配色方案即可。
 */
/* font */
/* container */
/*  spacing */
/* color */
/* other */
/**
 * 在 bear 的主题中，某些变量的取值和其他变量是绑定的。
 * 统一写在这里，这个文件应该在变量文件的最后被引入。
 */
/**
 * Bear 的默认样式表。通过调整各个颜色变量的取值，就可以得到不同的 bear 主题。
 * Bear 的配色方案位于 src/themes/bear-palettes 目录下。
 */
.mweb-charcoal {
  font-family: AvenirNext-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  color: rgb(166, 166, 166);
  background-color: rgb(46, 50, 53);
  line-height: 1.6em;
  -webkit-text-size-adjust: 100%;
  margin: 0px 0px;
  padding: 1em 1em;
  /* 代码块 */
}
.mweb-charcoal * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.mweb-charcoal > *:first-child {
  margin-top: 0 !important;
}
.mweb-charcoal > *:last-child {
  margin-top: 0 !important;
}
.mweb-charcoal p,
.mweb-charcoal pre,
.mweb-charcoal dl,
.mweb-charcoal form,
.mweb-charcoal details,
.mweb-charcoal dl,
.mweb-charcoal blockquote,
.mweb-charcoal table,
.mweb-charcoal xmp,
.mweb-charcoal plaintext,
.mweb-charcoal listing,
.mweb-charcoal figure {
  margin: 0.75em 0 0.45em;
}
.mweb-charcoal hr {
  margin: 0.75em auto;
}
.mweb-charcoal h1,
.mweb-charcoal h2,
.mweb-charcoal h3,
.mweb-charcoal h4,
.mweb-charcoal h5,
.mweb-charcoal h6 {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
  font-family: AvenirNext-Medium;
  font-weight: 600;
  line-height: 1.5em;
  color: rgb(172, 172, 172);
}
.mweb-charcoal h1 {
  font-size: 1.5em;
}
.mweb-charcoal h2 {
  font-size: 1.3em;
}
.mweb-charcoal h3 {
  font-size: 1.1em;
}
.mweb-charcoal h4 {
  font-size: 1em;
}
.mweb-charcoal h5 {
  font-size: 1em;
}
.mweb-charcoal h6 {
  font-size: 1em;
}
.mweb-charcoal hr {
  height: 1px;
  border: 0;
  background-color: rgb(62, 67, 72);
  border-style: inset;
  border-width: 1px;
}
.mweb-charcoal p {
  margin-left: 0;
  margin-right: 0;
}
.mweb-charcoal pre,
.mweb-charcoal pre[class*=language-] {
  padding: 0;
  border: 0;
}
.mweb-charcoal blockquote {
  display: block;
  padding-left: 0.8em;
  border-left: 0.2em solid rgb(155, 183, 196);
  color: rgb(166, 166, 166);
}
.mweb-charcoal blockquote > :first-child {
  margin-top: 0;
}
.mweb-charcoal blockquote > :last-child {
  margin-bottom: 0;
}
.mweb-charcoal li {
  word-wrap: break-all;
}
.mweb-charcoal ul {
  margin-left: 1.3em;
  padding: 0;
}
.mweb-charcoal li::marker {
  color: rgb(155, 183, 196);
}
.mweb-charcoal li > p {
  margin: 0;
}
.mweb-charcoal ol {
  margin-left: 1.3em;
  padding: 0;
  list-style-type: decimal;
}
.mweb-charcoal .task-list-item {
  list-style-type: none;
  text-indent: -1.5em;
}
.mweb-charcoal .task-list-item:before {
  content: "";
  display: static;
  margin-right: 0px;
}
.mweb-charcoal .task-list-item > input[type=checkbox] {
  text-indent: -1.7em;
}
.mweb-charcoal img {
  max-width: 100%;
  height: auto;
}
.mweb-charcoal u {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(155, 183, 196) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 1em;
}
.mweb-charcoal a {
  color: rgb(171, 196, 207);
  text-decoration: none;
}
.mweb-charcoal a:hover, .mweb-charcoal a:focus, .mweb-charcoal a:active {
  text-decoration: underline;
}
.mweb-charcoal a img {
  border: none;
}
.mweb-charcoal b,
.mweb-charcoal strong {
  font-weight: bold;
}
.mweb-charcoal i,
.mweb-charcoal cite,
.mweb-charcoal em,
.mweb-charcoal var,
.mweb-charcoal address,
.mweb-charcoal dfn {
  font-style: italic;
}
.mweb-charcoal del,
.mweb-charcoal s {
  color: rgb(122, 122, 122);
}
.mweb-charcoal pre,
.mweb-charcoal xmp,
.mweb-charcoal plaintext,
.mweb-charcoal listing,
.mweb-charcoal code,
.mweb-charcoal kbd,
.mweb-charcoal tt,
.mweb-charcoal samp {
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.mweb-charcoal mark {
  color: inherit;
  display: inline;
  padding: 0.2em 0.5em;
  background-color: rgb(7, 16, 25);
}
.mweb-charcoal figcaption {
  text-align: center;
}
.mweb-charcoal table {
  color: rgb(153, 153, 153);
  border-collapse: collapse;
  background-color: rgb(47, 51, 55);
  border-spacing: 2px;
  font-size: 1em;
  border: 1px;
  border-spacing: 0;
}
.mweb-charcoal th,
.mweb-charcoal td {
  padding: 0.7em 1em;
  font-size: 0.9em;
  border: 1px solid rgb(62, 67, 72);
}
.mweb-charcoal caption,
.mweb-charcoal th,
.mweb-charcoal td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.mweb-charcoal div[id^=mweb-chart-ele] svg {
  background-color: white;
}
.mweb-charcoal .footnotes > ol li {
  text-indent: 0;
}
.mweb-charcoal .footnotes > ol li::before {
  float: left;
}
.mweb-charcoal .footnotes hr {
  margin-top: 4em;
  margin-bottom: 0.5em;
}
.mweb-charcoal code {
  display: inline;
  color: rgb(153, 153, 153);
}
.mweb-charcoal .code-section {
  display: flex;
  border: solid 1px rgb(62, 67, 72);
  background-color: rgb(47, 51, 55);
}
.mweb-charcoal section pre {
  margin: 0;
  overflow-x: auto;
}
.mweb-charcoal section code {
  display: block;
  padding: 0.9em;
  font-size: 0.9em;
  line-height: 1.6em;
  text-wrap: nowrap;
}
.mweb-charcoal section ul {
  flex-shrink: 0;
  counter-reset: line;
  margin: 0;
  padding: 0.9em 0 0.9em 0.9em;
  white-space: normal;
  width: fit-content;
}
.mweb-charcoal section ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  text-wrap: nowrap;
  line-height: 1.6em;
  font-size: 0.9em;
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 0;
  list-style-type: none;
  color: rgb(166, 166, 166);
}
.mweb-charcoal section ul > li::marker {
  content: none;
}