/*
 * PrismJS default theme
 * 这个文件只应该包含变量
 */
/*
 * Default bear theme，适用于 core/mweb-bear.scss。
 * 所有 bear 主题，只需 import 这个文件，然后修改配色方案即可。
 */
/* font */
/* container */
/*  spacing */
/* color */
/* other */
/**
 * 在 bear 的主题中，某些变量的取值和其他变量是绑定的。
 * 统一写在这里，这个文件应该在变量文件的最后被引入。
 */
/**
 * Bear 的默认样式表。通过调整各个颜色变量的取值，就可以得到不同的 bear 主题。
 * Bear 的配色方案位于 src/themes/bear-palettes 目录下。
 */
.mweb-contrast {
  font-family: AvenirNext-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  color: #222222;
  background-color: #F9F9F9;
  line-height: 1.6em;
  -webkit-text-size-adjust: 100%;
  margin: 0px 0px;
  padding: 1em 1em;
  /* 代码块 */
}
.mweb-contrast * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.mweb-contrast > *:first-child {
  margin-top: 0 !important;
}
.mweb-contrast > *:last-child {
  margin-top: 0 !important;
}
.mweb-contrast p,
.mweb-contrast pre,
.mweb-contrast dl,
.mweb-contrast form,
.mweb-contrast details,
.mweb-contrast dl,
.mweb-contrast blockquote,
.mweb-contrast table,
.mweb-contrast xmp,
.mweb-contrast plaintext,
.mweb-contrast listing,
.mweb-contrast figure {
  margin: 0.75em 0 0.45em;
}
.mweb-contrast hr {
  margin: 0.75em auto;
}
.mweb-contrast h1,
.mweb-contrast h2,
.mweb-contrast h3,
.mweb-contrast h4,
.mweb-contrast h5,
.mweb-contrast h6 {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
  font-family: AvenirNext-Medium;
  font-weight: 600;
  line-height: 1.5em;
  color: #262626;
}
.mweb-contrast h1 {
  font-size: 1.5em;
}
.mweb-contrast h2 {
  font-size: 1.3em;
}
.mweb-contrast h3 {
  font-size: 1.1em;
}
.mweb-contrast h4 {
  font-size: 1em;
}
.mweb-contrast h5 {
  font-size: 1em;
}
.mweb-contrast h6 {
  font-size: 1em;
}
.mweb-contrast hr {
  height: 1px;
  border: 0;
  background-color: #bfbfbf;
  border-style: inset;
  border-width: 1px;
}
.mweb-contrast p {
  margin-left: 0;
  margin-right: 0;
}
.mweb-contrast pre,
.mweb-contrast pre[class*=language-] {
  padding: 0;
  border: 0;
}
.mweb-contrast blockquote {
  display: block;
  padding-left: 0.8em;
  border-left: 0.2em solid #2478c5;
  color: #222222;
}
.mweb-contrast blockquote > :first-child {
  margin-top: 0;
}
.mweb-contrast blockquote > :last-child {
  margin-bottom: 0;
}
.mweb-contrast li {
  word-wrap: break-all;
}
.mweb-contrast ul {
  margin-left: 1.3em;
  padding: 0;
}
.mweb-contrast li::marker {
  color: #2478c5;
}
.mweb-contrast li > p {
  margin: 0;
}
.mweb-contrast ol {
  margin-left: 1.3em;
  padding: 0;
  list-style-type: decimal;
}
.mweb-contrast .task-list-item {
  list-style-type: none;
  text-indent: -1.5em;
}
.mweb-contrast .task-list-item:before {
  content: "";
  display: static;
  margin-right: 0px;
}
.mweb-contrast .task-list-item > input[type=checkbox] {
  text-indent: -1.7em;
}
.mweb-contrast img {
  max-width: 100%;
  height: auto;
}
.mweb-contrast u {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #2478c5 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 1em;
}
.mweb-contrast a {
  color: #2478c5;
  text-decoration: none;
}
.mweb-contrast a:hover, .mweb-contrast a:focus, .mweb-contrast a:active {
  text-decoration: underline;
}
.mweb-contrast a img {
  border: none;
}
.mweb-contrast b,
.mweb-contrast strong {
  font-weight: bold;
}
.mweb-contrast i,
.mweb-contrast cite,
.mweb-contrast em,
.mweb-contrast var,
.mweb-contrast address,
.mweb-contrast dfn {
  font-style: italic;
}
.mweb-contrast del,
.mweb-contrast s {
  color: #525252;
}
.mweb-contrast pre,
.mweb-contrast xmp,
.mweb-contrast plaintext,
.mweb-contrast listing,
.mweb-contrast code,
.mweb-contrast kbd,
.mweb-contrast tt,
.mweb-contrast samp {
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.mweb-contrast mark {
  color: inherit;
  display: inline;
  padding: 0.2em 0.5em;
  background-color: #d3ffa4;
}
.mweb-contrast figcaption {
  text-align: center;
}
.mweb-contrast table {
  color: #424242;
  border-collapse: collapse;
  background-color: white;
  border-spacing: 2px;
  font-size: 1em;
  border: 1px;
  border-spacing: 0;
}
.mweb-contrast th,
.mweb-contrast td {
  padding: 0.7em 1em;
  font-size: 0.9em;
  border: 1px solid #bfbfbf;
}
.mweb-contrast caption,
.mweb-contrast th,
.mweb-contrast td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.mweb-contrast div[id^=mweb-chart-ele] svg {
  background-color: white;
}
.mweb-contrast .footnotes > ol li {
  text-indent: 0;
}
.mweb-contrast .footnotes > ol li::before {
  float: left;
}
.mweb-contrast .footnotes hr {
  margin-top: 4em;
  margin-bottom: 0.5em;
}
.mweb-contrast code {
  display: inline;
  color: #424242;
}
.mweb-contrast .code-section {
  display: flex;
  border: solid 1px #bfbfbf;
  background-color: white;
}
.mweb-contrast section pre {
  margin: 0;
  overflow-x: auto;
}
.mweb-contrast section code {
  display: block;
  padding: 0.9em;
  font-size: 0.9em;
  line-height: 1.6em;
  text-wrap: nowrap;
}
.mweb-contrast section ul {
  flex-shrink: 0;
  counter-reset: line;
  margin: 0;
  padding: 0.9em 0 0.9em 0.9em;
  white-space: normal;
  width: fit-content;
}
.mweb-contrast section ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  text-wrap: nowrap;
  line-height: 1.6em;
  font-size: 0.9em;
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 0;
  list-style-type: none;
  color: #222222;
}
.mweb-contrast section ul > li::marker {
  content: none;
}