/*
 * PrismJS default theme
 * 这个文件只应该包含变量
 */
/*
 * Default bear theme，适用于 core/mweb-bear.scss。
 * 所有 bear 主题，只需 import 这个文件，然后修改配色方案即可。
 */
/* font */
/* container */
/*  spacing */
/* color */
/* other */
/**
 * 在 bear 的主题中，某些变量的取值和其他变量是绑定的。
 * 统一写在这里，这个文件应该在变量文件的最后被引入。
 */
/**
 * Bear 的默认样式表。通过调整各个颜色变量的取值，就可以得到不同的 bear 主题。
 * Bear 的配色方案位于 src/themes/bear-palettes 目录下。
 */
.mweb-nord {
  font-family: AvenirNext-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  color: rgb(237, 238, 243);
  background-color: rgb(47, 52, 64);
  line-height: 1.6em;
  -webkit-text-size-adjust: 100%;
  margin: 0px 0px;
  padding: 1em 1em;
  /* 代码块 */
}
.mweb-nord * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.mweb-nord > *:first-child {
  margin-top: 0 !important;
}
.mweb-nord > *:last-child {
  margin-top: 0 !important;
}
.mweb-nord p,
.mweb-nord pre,
.mweb-nord dl,
.mweb-nord form,
.mweb-nord details,
.mweb-nord dl,
.mweb-nord blockquote,
.mweb-nord table,
.mweb-nord xmp,
.mweb-nord plaintext,
.mweb-nord listing,
.mweb-nord figure {
  margin: 0.75em 0 0.45em;
}
.mweb-nord hr {
  margin: 0.75em auto;
}
.mweb-nord h1,
.mweb-nord h2,
.mweb-nord h3,
.mweb-nord h4,
.mweb-nord h5,
.mweb-nord h6 {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
  font-family: AvenirNext-Medium;
  font-weight: 600;
  line-height: 1.5em;
  color: rgb(217, 221, 231);
}
.mweb-nord h1 {
  font-size: 1.5em;
}
.mweb-nord h2 {
  font-size: 1.3em;
}
.mweb-nord h3 {
  font-size: 1.1em;
}
.mweb-nord h4 {
  font-size: 1em;
}
.mweb-nord h5 {
  font-size: 1em;
}
.mweb-nord h6 {
  font-size: 1em;
}
.mweb-nord hr {
  height: 1px;
  border: 0;
  background-color: rgb(99, 110, 132);
  border-style: inset;
  border-width: 1px;
}
.mweb-nord p {
  margin-left: 0;
  margin-right: 0;
}
.mweb-nord pre,
.mweb-nord pre[class*=language-] {
  padding: 0;
  border: 0;
}
.mweb-nord blockquote {
  display: block;
  padding-left: 0.8em;
  border-left: 0.2em solid rgb(144, 185, 201);
  color: rgb(237, 238, 243);
}
.mweb-nord blockquote > :first-child {
  margin-top: 0;
}
.mweb-nord blockquote > :last-child {
  margin-bottom: 0;
}
.mweb-nord li {
  word-wrap: break-all;
}
.mweb-nord ul {
  margin-left: 1.3em;
  padding: 0;
}
.mweb-nord li::marker {
  color: rgb(144, 185, 201);
}
.mweb-nord li > p {
  margin: 0;
}
.mweb-nord ol {
  margin-left: 1.3em;
  padding: 0;
  list-style-type: decimal;
}
.mweb-nord .task-list-item {
  list-style-type: none;
  text-indent: -1.5em;
}
.mweb-nord .task-list-item:before {
  content: "";
  display: static;
  margin-right: 0px;
}
.mweb-nord .task-list-item > input[type=checkbox] {
  text-indent: -1.7em;
}
.mweb-nord img {
  max-width: 100%;
  height: auto;
}
.mweb-nord u {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(144, 185, 201) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 1em;
}
.mweb-nord a {
  color: rgb(167, 189, 144);
  text-decoration: none;
}
.mweb-nord a:hover, .mweb-nord a:focus, .mweb-nord a:active {
  text-decoration: underline;
}
.mweb-nord a img {
  border: none;
}
.mweb-nord b,
.mweb-nord strong {
  font-weight: bold;
}
.mweb-nord i,
.mweb-nord cite,
.mweb-nord em,
.mweb-nord var,
.mweb-nord address,
.mweb-nord dfn {
  font-style: italic;
}
.mweb-nord del,
.mweb-nord s {
  color: rgb(160, 163, 171);
}
.mweb-nord pre,
.mweb-nord xmp,
.mweb-nord plaintext,
.mweb-nord listing,
.mweb-nord code,
.mweb-nord kbd,
.mweb-nord tt,
.mweb-nord samp {
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.mweb-nord mark {
  color: inherit;
  display: inline;
  padding: 0.2em 0.5em;
  background-color: rgb(155, 98, 100);
}
.mweb-nord figcaption {
  text-align: center;
}
.mweb-nord table {
  color: rgb(237, 238, 243);
  border-collapse: collapse;
  background-color: rgb(54, 57, 69);
  border-spacing: 2px;
  font-size: 1em;
  border: 1px;
  border-spacing: 0;
}
.mweb-nord th,
.mweb-nord td {
  padding: 0.7em 1em;
  font-size: 0.9em;
  border: 1px solid rgb(99, 110, 132);
}
.mweb-nord caption,
.mweb-nord th,
.mweb-nord td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.mweb-nord div[id^=mweb-chart-ele] svg {
  background-color: white;
}
.mweb-nord .footnotes > ol li {
  text-indent: 0;
}
.mweb-nord .footnotes > ol li::before {
  float: left;
}
.mweb-nord .footnotes hr {
  margin-top: 4em;
  margin-bottom: 0.5em;
}
.mweb-nord code {
  display: inline;
  color: rgb(237, 238, 243);
}
.mweb-nord .code-section {
  display: flex;
  border: solid 1px rgb(99, 110, 132);
  background-color: rgb(54, 57, 69);
}
.mweb-nord section pre {
  margin: 0;
  overflow-x: auto;
}
.mweb-nord section code {
  display: block;
  padding: 0.9em;
  font-size: 0.9em;
  line-height: 1.6em;
  text-wrap: nowrap;
}
.mweb-nord section ul {
  flex-shrink: 0;
  counter-reset: line;
  margin: 0;
  padding: 0.9em 0 0.9em 0.9em;
  white-space: normal;
  width: fit-content;
}
.mweb-nord section ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  text-wrap: nowrap;
  line-height: 1.6em;
  font-size: 0.9em;
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 0;
  list-style-type: none;
  color: rgb(237, 238, 243);
}
.mweb-nord section ul > li::marker {
  content: none;
}