/*
 * PrismJS default theme
 * 这个文件只应该包含变量
 */
/*
 * Default bear theme，适用于 core/mweb-bear.scss。
 * 所有 bear 主题，只需 import 这个文件，然后修改配色方案即可。
 */
/* font */
/* container */
/*  spacing */
/* color */
/* other */
/**
 * 在 bear 的主题中，某些变量的取值和其他变量是绑定的。
 * 统一写在这里，这个文件应该在变量文件的最后被引入。
 */
/**
 * Bear 的默认样式表。通过调整各个颜色变量的取值，就可以得到不同的 bear 主题。
 * Bear 的配色方案位于 src/themes/bear-palettes 目录下。
 */
.mweb-solarized-dark {
  font-family: AvenirNext-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  color: rgb(155, 166, 164);
  background-color: rgb(11, 55, 66);
  line-height: 1.6em;
  -webkit-text-size-adjust: 100%;
  margin: 0px 0px;
  padding: 1.6em 3.2em;
  /* 代码块 */
}
.mweb-solarized-dark * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.mweb-solarized-dark > *:first-child {
  margin-top: 0 !important;
}
.mweb-solarized-dark > *:last-child {
  margin-top: 0 !important;
}
.mweb-solarized-dark p, .mweb-solarized-dark pre, .mweb-solarized-dark dl, .mweb-solarized-dark form, .mweb-solarized-dark details, .mweb-solarized-dark dl, .mweb-solarized-dark blockquote, .mweb-solarized-dark table, .mweb-solarized-dark xmp, .mweb-solarized-dark plaintext, .mweb-solarized-dark listing, .mweb-solarized-dark figure {
  margin: 0.75em 0 0.45em;
}
.mweb-solarized-dark hr {
  margin: 0.75em auto;
}
.mweb-solarized-dark h1, .mweb-solarized-dark h2, .mweb-solarized-dark h3, .mweb-solarized-dark h4, .mweb-solarized-dark h5, .mweb-solarized-dark h6 {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
  font-family: AvenirNext-Medium;
  font-weight: 600;
  line-height: 1.5em;
  color: rgb(171, 181, 180);
}
.mweb-solarized-dark h1 {
  font-size: 1.5em;
}
.mweb-solarized-dark h2 {
  font-size: 1.3em;
}
.mweb-solarized-dark h3 {
  font-size: 1.1em;
}
.mweb-solarized-dark h4 {
  font-size: 1em;
}
.mweb-solarized-dark h5 {
  font-size: 1em;
}
.mweb-solarized-dark h6 {
  font-size: 1em;
}
.mweb-solarized-dark hr {
  height: 1px;
  border: 0;
  background-color: rgb(3, 44, 54);
  border-style: inset;
  border-width: 1px;
}
.mweb-solarized-dark p {
  margin-left: 0;
  margin-right: 0;
}
.mweb-solarized-dark pre, .mweb-solarized-dark pre[class*=language-] {
  padding: 0;
  border: 0;
}
.mweb-solarized-dark blockquote {
  display: block;
  padding-left: 0.8em;
  border-left: 0.2em solid rgb(44, 146, 133);
  color: rgb(155, 166, 164);
}
.mweb-solarized-dark blockquote > :first-child {
  margin-top: 0;
}
.mweb-solarized-dark blockquote > :last-child {
  margin-bottom: 0;
}
.mweb-solarized-dark li {
  word-wrap: break-all;
}
.mweb-solarized-dark ul {
  margin-left: 1.3em;
  padding: 0;
}
.mweb-solarized-dark li::marker {
  color: rgb(44, 146, 133);
}
.mweb-solarized-dark li > p {
  margin: 0;
}
.mweb-solarized-dark ol {
  margin-left: 1.3em;
  padding: 0;
  list-style-type: decimal;
}
.mweb-solarized-dark .task-list-item {
  list-style-type: none;
  text-indent: -1.5em;
}
.mweb-solarized-dark .task-list-item:before {
  content: "";
  display: static;
  margin-right: 0px;
}
.mweb-solarized-dark .task-list-item > input[type=checkbox] {
  text-indent: -1.7em;
}
.mweb-solarized-dark img {
  max-width: 100%;
  height: auto;
}
.mweb-solarized-dark u {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(44, 146, 133) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 1em;
}
.mweb-solarized-dark a {
  color: rgb(63, 198, 180);
  text-decoration: none;
}
.mweb-solarized-dark a:hover, .mweb-solarized-dark a:focus, .mweb-solarized-dark a:active {
  text-decoration: underline;
}
.mweb-solarized-dark a img {
  border: none;
}
.mweb-solarized-dark b, .mweb-solarized-dark strong {
  font-weight: bold;
}
.mweb-solarized-dark i, .mweb-solarized-dark cite, .mweb-solarized-dark em, .mweb-solarized-dark var, .mweb-solarized-dark address, .mweb-solarized-dark dfn {
  font-style: italic;
}
.mweb-solarized-dark del, .mweb-solarized-dark s {
  color: rgb(106, 134, 144);
}
.mweb-solarized-dark pre, .mweb-solarized-dark xmp, .mweb-solarized-dark plaintext, .mweb-solarized-dark listing, .mweb-solarized-dark code, .mweb-solarized-dark kbd, .mweb-solarized-dark tt, .mweb-solarized-dark samp {
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.mweb-solarized-dark mark {
  color: inherit;
  display: inline;
  padding: 0.2em 0.5em;
  background-color: rgb(31, 0, 50);
}
.mweb-solarized-dark figcaption {
  text-align: center;
}
.mweb-solarized-dark table {
  color: rgb(148, 162, 162);
  border-collapse: collapse;
  background-color: rgb(6, 33, 40);
  border-spacing: 2px;
  font-size: 1em;
  border: 1px;
  border-spacing: 0;
}
.mweb-solarized-dark th, .mweb-solarized-dark td {
  padding: 0.7em 1em;
  font-size: 0.9em;
  border: 1px solid rgb(3, 44, 54);
}
.mweb-solarized-dark caption, .mweb-solarized-dark th, .mweb-solarized-dark td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.mweb-solarized-dark div[id^=mweb-chart-ele] svg {
  background-color: white;
}
.mweb-solarized-dark .footnotes > ol li {
  text-indent: 0;
}
.mweb-solarized-dark .footnotes > ol li::before {
  float: left;
}
.mweb-solarized-dark .footnotes hr {
  margin-top: 4em;
  margin-bottom: 0.5em;
}
.mweb-solarized-dark code {
  display: inline;
  color: rgb(148, 162, 162);
}
.mweb-solarized-dark pre code {
  display: block;
  padding: 0.9em;
  font-size: 0.9em;
  line-height: 1.6em;
  overflow-x: auto;
  text-wrap: nowrap;
}
.mweb-solarized-dark .code-section {
  display: flex;
  overflow: auto;
  border: solid 1px rgb(3, 44, 54);
  background-color: rgb(6, 33, 40);
}
.mweb-solarized-dark section pre {
  margin: 0;
}
.mweb-solarized-dark section ul {
  counter-reset: line;
  margin: 0;
  padding: 0.9em 0 0.9em 0.9em;
  white-space: normal;
  width: fit-content;
}
.mweb-solarized-dark section ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  line-height: 1.6em;
  font-size: 0.9em;
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 0;
  list-style-type: none;
  color: rgb(155, 166, 164);
}
.mweb-solarized-dark section ul > li::marker {
  content: none;
}