/*
 * Default theme，适用于 core/mweb-base.scss。
 * 取值参考 chrome 默认样式：
 * https://chromium.googlesource.com/chromium/blink/+/refs/heads/main/Source/core/css/html.css
 * 所有 import "core/mweb-base.scss" 的文件都应该同时导入此变量文件。
 */
/* color */
/* font & line */
/* boxing */
/* elememts */
/*
 * 基准样式，相当于 reset.css，使主题在不同平台下有统一的表现。
 * 各个属性的默认值为 chrome 的默认样式，见 variables/default.scss。
 */
/**
 * MWeb 包裹 markdown 的容器是 .note-to-mp
 * Typora 中是 #write
 */
.note-to-mp {
  line-height: 1.6em;
  -webkit-text-size-adjust: 100%;
  margin: 0px 0px;
  padding: 1rem 1rem;
  font-family: PingFang SC, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  color: black;
  background-color: white;
  /* spacing */
  /* block */
  /* list */
  /* inline */
  /* table */
  /* svg */
}
.note-to-mp * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.note-to-mp > *:first-child {
  margin-top: 0 !important;
}
.note-to-mp > *:last-child {
  margin-top: 0 !important;
}
.note-to-mp p, .note-to-mp details, .note-to-mp dl, .note-to-mp ol, .note-to-mp ul, .note-to-mp pre, .note-to-mp xmp, .note-to-mp plaintext, .note-to-mp listing, .note-to-mp blockquote, .note-to-mp table, .note-to-mp figure, .note-to-mp hr {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.note-to-mp h1 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
}
.note-to-mp h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
}
.note-to-mp h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
}
.note-to-mp h4 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
}
.note-to-mp h5 {
  font-size: 0.83em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
}
.note-to-mp h6 {
  font-size: 0.67em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
}
.note-to-mp p {
  margin-left: 0;
  margin-right: 0;
}
.note-to-mp pre, .note-to-mp xmp, .note-to-mp plaintext, .note-to-mp listing {
  font-family: monospace, Menlo-Regular, Menlo, Monaco, Consolas, "Courier New";
}
.note-to-mp blockquote > :first-child {
  margin-top: 0;
}
.note-to-mp blockquote > :last-child {
  margin-bottom: 0;
}
.note-to-mp hr {
  border-style: inset;
  border-width: 1px;
}
.note-to-mp img {
  max-width: 100%;
  height: auto;
}
.note-to-mp li {
  word-wrap: break-all;
}
.note-to-mp li + li {
  margin-top: 0.25em;
}
.note-to-mp ul ul, .note-to-mp ol ul, .note-to-mp ul ol, .note-to-mp ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.note-to-mp .task-list-item {
  list-style-type: none;
}
.note-to-mp a {
  color: -webkit-link;
  text-decoration: underline;
}
.note-to-mp a img {
  border: none;
}
.note-to-mp b, .note-to-mp strong {
  font-weight: bold;
}
.note-to-mp i, .note-to-mp cite, .note-to-mp em, .note-to-mp var, .note-to-mp address, .note-to-mp dfn {
  font-style: italic;
}
.note-to-mp code, .note-to-mp kbd, .note-to-mp tt, .note-to-mp samp {
  font-family: monospace, Menlo-Regular, Menlo, Monaco, Consolas, "Courier New";
}
.note-to-mp mark {
  padding: 0.2em 0;
  background-color: yellow;
}
.note-to-mp del, .note-to-mp s {
  color: inherit;
}
.note-to-mp table {
  color: black;
  border-collapse: collapse;
  background-color: white;
  border-spacing: 2px;
  font-size: 1em;
}
.note-to-mp th, .note-to-mp td {
  border-color: gray;
  border-width: 1px;
  border-style: solid;
}
.note-to-mp th {
  padding: 4px 8px;
  font-size: 1em;
  font-weight: bold;
}
.note-to-mp td {
  padding: 4px 8px;
  font-size: 1em;
  font-weight: normal;
}
.note-to-mp div[id^=mweb-chart-ele] svg {
  background-color: white;
}

.note-to-mp {
  padding: 1em;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  color: #595959;
  font-size: 16px;
  line-height: 1.8em;
  background-image: linear-gradient(90deg, rgba(60, 10, 30, 0.05) 3%, transparent 0), linear-gradient(1turn, rgba(60, 10, 30, 0.05) 3%, transparent 0);
  background-size: 20px 20px;
  background-position: 50%;
  word-break: break-all;
  /* 主题自定义 */
  /* 主题自定义 end */
  /* 布局，一般不需要改动 */
  /* 代码块特殊处理 */
  /* 布局 end */
}
.note-to-mp blockquote {
  margin-left: 0;
  background-color: #ebf4ff;
  border-color: #7f9cf5;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #667eea;
}
.note-to-mp strong {
  color: #5a67d8;
}
.note-to-mp a {
  border-color: #667eea;
}
.note-to-mp blockquote,
.note-to-mp details,
.note-to-mp dl,
.note-to-mp ol,
.note-to-mp p,
.note-to-mp pre,
.note-to-mp table,
.note-to-mp ul {
  margin-bottom: 1rem;
}
.note-to-mp ol {
  list-style: decimal;
}
.note-to-mp ul {
  list-style: disc;
}
.note-to-mp ol,
.note-to-mp ul {
  padding-left: 2em;
}
.note-to-mp h1,
.note-to-mp h2 {
  border-color: #5a67d8;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  font-weight: 600;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
}
.note-to-mp h1,
.note-to-mp h2 {
  border-bottom: 1px solid #eaecef !important;
  border-left-width: 6px;
}
.note-to-mp h1,
.note-to-mp h2,
.note-to-mp h3,
.note-to-mp h4,
.note-to-mp h5,
.note-to-mp h6 {
  margin-bottom: 16px;
  line-height: 1.25;
}
.note-to-mp blockquote {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-left: 0.25em solid;
}
.note-to-mp blockquote > :last-child {
  margin-bottom: 0;
}
.note-to-mp blockquote > :first-child {
  margin-top: 0;
}
.note-to-mp strong {
  font-weight: bold;
}
.note-to-mp strong::before {
  content: "「";
}
.note-to-mp strong::after {
  content: "」";
}
.note-to-mp a {
  text-decoration: none;
  border-bottom: 1px solid;
}
.note-to-mp .footnote-ref {
  border-width: 0px;
}
.note-to-mp picture img {
  border-radius: 6px;
  display: block;
  margin: 10px auto;
  -o-object-fit: contain;
  object-fit: contain;
  box-shadow: 2px 4px 7px #999;
}
.note-to-mp img {
  max-width: 100%;
  display: block;
  margin: 10px auto;
  object-fit: contain;
  border-radius: 6px;
  box-shadow: 2px 4px 7px #999;
}
.note-to-mp picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 6px;
}
.note-to-mp .svg-markmap-box {
  min-height: 20rem;
  width: 100%;
}
.note-to-mp .footnotes {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.note-to-mp .footnotes hr {
  margin-top: 4em;
  margin-bottom: 0.5em;
}
.note-to-mp code,
.note-to-mp a {
  color: #5a67d8;
}
.note-to-mp a {
  border-color: #667eea;
}
.note-to-mp code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  background-color: #ebf4ff;
}
.note-to-mp .code-section {
  display: flex;
  border: solid 1px #5a67d8;
  background-color: #ebf4ff;
}
.note-to-mp .code-section pre {
  display: block;
  overflow-x: auto;
  padding: 0.9em;
  line-height: 1.5em;
  font-size: 1em;
  margin: 0;
}
.note-to-mp .code-section code {
  font-size: 1em;
  line-height: 1.6em;
  text-wrap: nowrap;
  padding: 0 !important;
  margin: 0 !important;
  display: block;
  background-color: #ebf4ff;
}
.note-to-mp .code-section ul {
  flex-shrink: 0;
  counter-reset: line;
  margin: 0;
  padding: 0.9em 0 0.9em 0.9em;
  white-space: normal;
  width: fit-content;
}
.note-to-mp .code-section ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  text-wrap: nowrap;
  line-height: 1.6em;
  font-size: 1em;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  padding: 0;
  list-style-type: none;
  color: rgba(0, 0, 0, 0.25);
  text-wrap: nowrap;
}
.note-to-mp .code-section ul > li::marker {
  content: none;
}