/*
 * PrismJS default theme
 * 这个文件只应该包含变量
 */
/*
 * Default bear theme，适用于 core/mweb-bear.scss。
 * 所有 bear 主题，只需 import 这个文件，然后修改配色方案即可。
 */
/* font */
/* container */
/*  spacing */
/* color */
/* other */
/**
 * 在 bear 的主题中，某些变量的取值和其他变量是绑定的。
 * 统一写在这里，这个文件应该在变量文件的最后被引入。
 */
/**
 * Bear 的默认样式表。通过调整各个颜色变量的取值，就可以得到不同的 bear 主题。
 * Bear 的配色方案位于 src/themes/bear-palettes 目录下。
 */
.mweb-bear-default {
  font-family: AvenirNext-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  color: #222222;
  background-color: white;
  line-height: 1.6em;
  -webkit-text-size-adjust: 100%;
  margin: 0px 0px;
  padding: 1.6em 3.2em;
  /* 代码块 */
}
.mweb-bear-default * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.mweb-bear-default > *:first-child {
  margin-top: 0 !important;
}
.mweb-bear-default > *:last-child {
  margin-top: 0 !important;
}
.mweb-bear-default p, .mweb-bear-default pre, .mweb-bear-default dl, .mweb-bear-default form, .mweb-bear-default details, .mweb-bear-default dl, .mweb-bear-default blockquote, .mweb-bear-default table, .mweb-bear-default xmp, .mweb-bear-default plaintext, .mweb-bear-default listing, .mweb-bear-default figure {
  margin: 0.75em 0 0.45em;
}
.mweb-bear-default hr {
  margin: 0.75em auto;
}
.mweb-bear-default h1, .mweb-bear-default h2, .mweb-bear-default h3, .mweb-bear-default h4, .mweb-bear-default h5, .mweb-bear-default h6 {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
  font-family: AvenirNext-Medium;
  font-weight: 600;
  line-height: 1.5em;
  color: #262626;
}
.mweb-bear-default h1 {
  font-size: 1.5em;
}
.mweb-bear-default h2 {
  font-size: 1.3em;
}
.mweb-bear-default h3 {
  font-size: 1.1em;
}
.mweb-bear-default h4 {
  font-size: 1em;
}
.mweb-bear-default h5 {
  font-size: 1em;
}
.mweb-bear-default h6 {
  font-size: 1em;
}
.mweb-bear-default hr {
  height: 1px;
  border: 0;
  background-color: #bfbfbf;
  border-style: inset;
  border-width: 1px;
}
.mweb-bear-default p {
  margin-left: 0;
  margin-right: 0;
}
.mweb-bear-default pre, .mweb-bear-default pre[class*=language-] {
  padding: 0;
  border: 0;
}
.mweb-bear-default blockquote {
  display: block;
  padding-left: 0.8em;
  border-left: 0.2em solid #353535;
  color: #222222;
}
.mweb-bear-default blockquote > :first-child {
  margin-top: 0;
}
.mweb-bear-default blockquote > :last-child {
  margin-bottom: 0;
}
.mweb-bear-default li {
  word-wrap: break-all;
}
.mweb-bear-default ul {
  margin-left: 1.3em;
  padding: 0;
}
.mweb-bear-default li::marker {
  color: #353535;
}
.mweb-bear-default li > p {
  margin: 0;
}
.mweb-bear-default ol {
  margin-left: 1.3em;
  padding: 0;
  list-style-type: decimal;
}
.mweb-bear-default .task-list-item {
  list-style-type: none;
  text-indent: -1.5em;
}
.mweb-bear-default .task-list-item:before {
  content: "";
  display: static;
  margin-right: 0px;
}
.mweb-bear-default .task-list-item > input[type=checkbox] {
  text-indent: -1.7em;
}
.mweb-bear-default img {
  max-width: 100%;
  height: auto;
}
.mweb-bear-default u {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #353535 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 1em;
}
.mweb-bear-default a {
  color: #2478c5;
  text-decoration: none;
}
.mweb-bear-default a:hover, .mweb-bear-default a:focus, .mweb-bear-default a:active {
  text-decoration: underline;
}
.mweb-bear-default a img {
  border: none;
}
.mweb-bear-default b, .mweb-bear-default strong {
  font-weight: bold;
}
.mweb-bear-default i, .mweb-bear-default cite, .mweb-bear-default em, .mweb-bear-default var, .mweb-bear-default address, .mweb-bear-default dfn {
  font-style: italic;
}
.mweb-bear-default del, .mweb-bear-default s {
  color: #525252;
}
.mweb-bear-default pre, .mweb-bear-default xmp, .mweb-bear-default plaintext, .mweb-bear-default listing, .mweb-bear-default code, .mweb-bear-default kbd, .mweb-bear-default tt, .mweb-bear-default samp {
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.mweb-bear-default mark {
  color: inherit;
  display: inline;
  padding: 0.2em 0.5em;
  background-color: #fcffc0;
}
.mweb-bear-default figcaption {
  text-align: center;
}
.mweb-bear-default table {
  color: #424242;
  border-collapse: collapse;
  background-color: white;
  border-spacing: 2px;
  font-size: 1em;
  border: 1px;
  border-spacing: 0;
}
.mweb-bear-default th, .mweb-bear-default td {
  padding: 0.7em 1em;
  font-size: 0.9em;
  border: 1px solid #bfbfbf;
}
.mweb-bear-default caption, .mweb-bear-default th, .mweb-bear-default td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.mweb-bear-default div[id^=mweb-chart-ele] svg {
  background-color: white;
}
.mweb-bear-default .footnotes > ol li {
  text-indent: 0;
}
.mweb-bear-default .footnotes > ol li::before {
  float: left;
}
.mweb-bear-default .footnotes hr {
  margin-top: 4em;
  margin-bottom: 0.5em;
}
.mweb-bear-default code {
  display: inline;
  color: #424242;
}
.mweb-bear-default pre code {
  display: block;
  padding: 0.9em;
  font-size: 0.9em;
  line-height: 1.6em;
  overflow-x: auto;
  text-wrap: nowrap;
}
.mweb-bear-default .code-section {
  display: flex;
  overflow: auto;
  border: solid 1px #bfbfbf;
  background-color: white;
}
.mweb-bear-default section pre {
  margin: 0;
}
.mweb-bear-default section ul {
  counter-reset: line;
  margin: 0;
  padding: 0.9em 0 0.9em 0.9em;
  white-space: normal;
  width: fit-content;
}
.mweb-bear-default section ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  line-height: 1.6em;
  font-size: 0.9em;
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 0;
  list-style-type: none;
  color: #222222;
}
.mweb-bear-default section ul > li::marker {
  content: none;
}