/*
 * PrismJS default theme
 * 这个文件只应该包含变量
 */
/*
 * Default bear theme，适用于 core/mweb-bear.scss。
 * 所有 bear 主题，只需 import 这个文件，然后修改配色方案即可。
 */
/* font */
/* container */
/*  spacing */
/* color */
/* other */
/**
 * 在 bear 的主题中，某些变量的取值和其他变量是绑定的。
 * 统一写在这里，这个文件应该在变量文件的最后被引入。
 */
/**
 * Bear 的默认样式表。通过调整各个颜色变量的取值，就可以得到不同的 bear 主题。
 * Bear 的配色方案位于 src/themes/bear-palettes 目录下。
 */
.mweb-d-boring {
  font-family: AvenirNext-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: rgb(251, 250, 252);
  line-height: 1.6em;
  -webkit-text-size-adjust: 100%;
  margin: 0px 0px;
  padding: 1.6em 3.2em;
  /* 代码块 */
}
.mweb-d-boring * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.mweb-d-boring > *:first-child {
  margin-top: 0 !important;
}
.mweb-d-boring > *:last-child {
  margin-top: 0 !important;
}
.mweb-d-boring p, .mweb-d-boring pre, .mweb-d-boring dl, .mweb-d-boring form, .mweb-d-boring details, .mweb-d-boring dl, .mweb-d-boring blockquote, .mweb-d-boring table, .mweb-d-boring xmp, .mweb-d-boring plaintext, .mweb-d-boring listing, .mweb-d-boring figure {
  margin: 0.75em 0 0.45em;
}
.mweb-d-boring hr {
  margin: 0.75em auto;
}
.mweb-d-boring h1, .mweb-d-boring h2, .mweb-d-boring h3, .mweb-d-boring h4, .mweb-d-boring h5, .mweb-d-boring h6 {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
  font-family: AvenirNext-Medium;
  font-weight: 600;
  line-height: 1.5em;
  color: rgb(0, 0, 0);
}
.mweb-d-boring h1 {
  font-size: 1.5em;
}
.mweb-d-boring h2 {
  font-size: 1.3em;
}
.mweb-d-boring h3 {
  font-size: 1.1em;
}
.mweb-d-boring h4 {
  font-size: 1em;
}
.mweb-d-boring h5 {
  font-size: 1em;
}
.mweb-d-boring h6 {
  font-size: 1em;
}
.mweb-d-boring hr {
  height: 1px;
  border: 0;
  background-color: rgb(199, 199, 199);
  border-style: inset;
  border-width: 1px;
}
.mweb-d-boring p {
  margin-left: 0;
  margin-right: 0;
}
.mweb-d-boring pre, .mweb-d-boring pre[class*=language-] {
  padding: 0;
  border: 0;
}
.mweb-d-boring blockquote {
  display: block;
  padding-left: 0.8em;
  border-left: 0.2em solid rgb(127, 127, 127);
  color: rgb(0, 0, 0);
}
.mweb-d-boring blockquote > :first-child {
  margin-top: 0;
}
.mweb-d-boring blockquote > :last-child {
  margin-bottom: 0;
}
.mweb-d-boring li {
  word-wrap: break-all;
}
.mweb-d-boring ul {
  margin-left: 1.3em;
  padding: 0;
}
.mweb-d-boring li::marker {
  color: rgb(127, 127, 127);
}
.mweb-d-boring li > p {
  margin: 0;
}
.mweb-d-boring ol {
  margin-left: 1.3em;
  padding: 0;
  list-style-type: decimal;
}
.mweb-d-boring .task-list-item {
  list-style-type: none;
  text-indent: -1.5em;
}
.mweb-d-boring .task-list-item:before {
  content: "";
  display: static;
  margin-right: 0px;
}
.mweb-d-boring .task-list-item > input[type=checkbox] {
  text-indent: -1.7em;
}
.mweb-d-boring img {
  max-width: 100%;
  height: auto;
}
.mweb-d-boring u {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(127, 127, 127) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 1em;
}
.mweb-d-boring a {
  color: rgb(80, 112, 139);
  text-decoration: none;
}
.mweb-d-boring a:hover, .mweb-d-boring a:focus, .mweb-d-boring a:active {
  text-decoration: underline;
}
.mweb-d-boring a img {
  border: none;
}
.mweb-d-boring b, .mweb-d-boring strong {
  font-weight: bold;
}
.mweb-d-boring i, .mweb-d-boring cite, .mweb-d-boring em, .mweb-d-boring var, .mweb-d-boring address, .mweb-d-boring dfn {
  font-style: italic;
}
.mweb-d-boring del, .mweb-d-boring s {
  color: rgb(128, 126, 128);
}
.mweb-d-boring pre, .mweb-d-boring xmp, .mweb-d-boring plaintext, .mweb-d-boring listing, .mweb-d-boring code, .mweb-d-boring kbd, .mweb-d-boring tt, .mweb-d-boring samp {
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.mweb-d-boring mark {
  color: inherit;
  display: inline;
  padding: 0.2em 0.5em;
  background-color: rgb(254, 255, 83);
}
.mweb-d-boring figcaption {
  text-align: center;
}
.mweb-d-boring table {
  color: rgb(38, 37, 38);
  border-collapse: collapse;
  background-color: rgb(253, 253, 253);
  border-spacing: 2px;
  font-size: 1em;
  border: 1px;
  border-spacing: 0;
}
.mweb-d-boring th, .mweb-d-boring td {
  padding: 0.7em 1em;
  font-size: 0.9em;
  border: 1px solid rgb(199, 199, 199);
}
.mweb-d-boring caption, .mweb-d-boring th, .mweb-d-boring td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.mweb-d-boring div[id^=mweb-chart-ele] svg {
  background-color: white;
}
.mweb-d-boring .footnotes > ol li {
  text-indent: 0;
}
.mweb-d-boring .footnotes > ol li::before {
  float: left;
}
.mweb-d-boring .footnotes hr {
  margin-top: 4em;
  margin-bottom: 0.5em;
}
.mweb-d-boring code {
  display: inline;
  color: rgb(38, 37, 38);
}
.mweb-d-boring pre code {
  display: block;
  padding: 0.9em;
  font-size: 0.9em;
  line-height: 1.6em;
  overflow-x: auto;
  text-wrap: nowrap;
}
.mweb-d-boring .code-section {
  display: flex;
  overflow: auto;
  border: solid 1px rgb(199, 199, 199);
  background-color: rgb(253, 253, 253);
}
.mweb-d-boring section pre {
  margin: 0;
}
.mweb-d-boring section ul {
  counter-reset: line;
  margin: 0;
  padding: 0.9em 0 0.9em 0.9em;
  white-space: normal;
  width: fit-content;
}
.mweb-d-boring section ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  line-height: 1.6em;
  font-size: 0.9em;
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 0;
  list-style-type: none;
  color: rgb(0, 0, 0);
}
.mweb-d-boring section ul > li::marker {
  content: none;
}