/*
 * PrismJS default theme
 * 这个文件只应该包含变量
 */
/*
 * Default bear theme，适用于 core/mweb-bear.scss。
 * 所有 bear 主题，只需 import 这个文件，然后修改配色方案即可。
 */
/* font */
/* container */
/*  spacing */
/* color */
/* other */
/**
 * 在 bear 的主题中，某些变量的取值和其他变量是绑定的。
 * 统一写在这里，这个文件应该在变量文件的最后被引入。
 */
/**
 * Bear 的默认样式表。通过调整各个颜色变量的取值，就可以得到不同的 bear 主题。
 * Bear 的配色方案位于 src/themes/bear-palettes 目录下。
 */
.mweb-toothpaste {
  font-family: AvenirNext-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  color: rgb(220, 227, 232);
  background-color: rgb(34, 46, 51);
  line-height: 1.6em;
  -webkit-text-size-adjust: 100%;
  margin: 0px 0px;
  padding: 1em 1em;
  /* 代码块 */
}
.mweb-toothpaste * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.mweb-toothpaste > *:first-child {
  margin-top: 0 !important;
}
.mweb-toothpaste > *:last-child {
  margin-top: 0 !important;
}
.mweb-toothpaste p,
.mweb-toothpaste pre,
.mweb-toothpaste dl,
.mweb-toothpaste form,
.mweb-toothpaste details,
.mweb-toothpaste dl,
.mweb-toothpaste blockquote,
.mweb-toothpaste table,
.mweb-toothpaste xmp,
.mweb-toothpaste plaintext,
.mweb-toothpaste listing,
.mweb-toothpaste figure {
  margin: 0.75em 0 0.45em;
}
.mweb-toothpaste hr {
  margin: 0.75em auto;
}
.mweb-toothpaste h1,
.mweb-toothpaste h2,
.mweb-toothpaste h3,
.mweb-toothpaste h4,
.mweb-toothpaste h5,
.mweb-toothpaste h6 {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
  font-family: AvenirNext-Medium;
  font-weight: 600;
  line-height: 1.5em;
  color: rgb(131, 209, 221);
}
.mweb-toothpaste h1 {
  font-size: 1.5em;
}
.mweb-toothpaste h2 {
  font-size: 1.3em;
}
.mweb-toothpaste h3 {
  font-size: 1.1em;
}
.mweb-toothpaste h4 {
  font-size: 1em;
}
.mweb-toothpaste h5 {
  font-size: 1em;
}
.mweb-toothpaste h6 {
  font-size: 1em;
}
.mweb-toothpaste hr {
  height: 1px;
  border: 0;
  background-color: rgb(15, 21, 23);
  border-style: inset;
  border-width: 1px;
}
.mweb-toothpaste p {
  margin-left: 0;
  margin-right: 0;
}
.mweb-toothpaste pre,
.mweb-toothpaste pre[class*=language-] {
  padding: 0;
  border: 0;
}
.mweb-toothpaste blockquote {
  display: block;
  padding-left: 0.8em;
  border-left: 0.2em solid rgb(199, 191, 127);
  color: rgb(220, 227, 232);
}
.mweb-toothpaste blockquote > :first-child {
  margin-top: 0;
}
.mweb-toothpaste blockquote > :last-child {
  margin-bottom: 0;
}
.mweb-toothpaste li {
  word-wrap: break-all;
}
.mweb-toothpaste ul {
  margin-left: 1.3em;
  padding: 0;
}
.mweb-toothpaste li::marker {
  color: rgb(199, 191, 127);
}
.mweb-toothpaste li > p {
  margin: 0;
}
.mweb-toothpaste ol {
  margin-left: 1.3em;
  padding: 0;
  list-style-type: decimal;
}
.mweb-toothpaste .task-list-item {
  list-style-type: none;
  text-indent: -1.5em;
}
.mweb-toothpaste .task-list-item:before {
  content: "";
  display: static;
  margin-right: 0px;
}
.mweb-toothpaste .task-list-item > input[type=checkbox] {
  text-indent: -1.7em;
}
.mweb-toothpaste img {
  max-width: 100%;
  height: auto;
}
.mweb-toothpaste u {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(199, 191, 127) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 1em;
}
.mweb-toothpaste a {
  color: rgb(214, 92, 92);
  text-decoration: none;
}
.mweb-toothpaste a:hover, .mweb-toothpaste a:focus, .mweb-toothpaste a:active {
  text-decoration: underline;
}
.mweb-toothpaste a img {
  border: none;
}
.mweb-toothpaste b,
.mweb-toothpaste strong {
  font-weight: bold;
}
.mweb-toothpaste i,
.mweb-toothpaste cite,
.mweb-toothpaste em,
.mweb-toothpaste var,
.mweb-toothpaste address,
.mweb-toothpaste dfn {
  font-style: italic;
}
.mweb-toothpaste del,
.mweb-toothpaste s {
  color: rgb(191, 191, 191);
}
.mweb-toothpaste pre,
.mweb-toothpaste xmp,
.mweb-toothpaste plaintext,
.mweb-toothpaste listing,
.mweb-toothpaste code,
.mweb-toothpaste kbd,
.mweb-toothpaste tt,
.mweb-toothpaste samp {
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.mweb-toothpaste mark {
  color: inherit;
  display: inline;
  padding: 0.2em 0.5em;
  background-color: rgb(64, 65, 113);
}
.mweb-toothpaste figcaption {
  text-align: center;
}
.mweb-toothpaste table {
  color: rgb(168, 176, 181);
  border-collapse: collapse;
  background-color: rgb(18, 24, 27);
  border-spacing: 2px;
  font-size: 1em;
  border: 1px;
  border-spacing: 0;
}
.mweb-toothpaste th,
.mweb-toothpaste td {
  padding: 0.7em 1em;
  font-size: 0.9em;
  border: 1px solid rgb(15, 21, 23);
}
.mweb-toothpaste caption,
.mweb-toothpaste th,
.mweb-toothpaste td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.mweb-toothpaste div[id^=mweb-chart-ele] svg {
  background-color: white;
}
.mweb-toothpaste .footnotes > ol li {
  text-indent: 0;
}
.mweb-toothpaste .footnotes > ol li::before {
  float: left;
}
.mweb-toothpaste .footnotes hr {
  margin-top: 4em;
  margin-bottom: 0.5em;
}
.mweb-toothpaste code {
  display: inline;
  color: rgb(168, 176, 181);
}
.mweb-toothpaste .code-section {
  display: flex;
  border: solid 1px rgb(15, 21, 23);
  background-color: rgb(18, 24, 27);
}
.mweb-toothpaste section pre {
  margin: 0;
  overflow-x: auto;
}
.mweb-toothpaste section code {
  display: block;
  padding: 0.9em;
  font-size: 0.9em;
  line-height: 1.6em;
  text-wrap: nowrap;
}
.mweb-toothpaste section ul {
  flex-shrink: 0;
  counter-reset: line;
  margin: 0;
  padding: 0.9em 0 0.9em 0.9em;
  white-space: normal;
  width: fit-content;
}
.mweb-toothpaste section ul > li {
  position: relative;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: right;
  text-wrap: nowrap;
  line-height: 1.6em;
  font-size: 0.9em;
  font-family: Menlo-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 0;
  list-style-type: none;
  color: rgb(220, 227, 232);
}
.mweb-toothpaste section ul > li::marker {
  content: none;
}